<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msvalidate.01" content="ECA292DDA0D79C9748299814A1E6C17E" />
	<title>Kristina Szekely Sotheby's Int. Realty {{ GLOBAL_SITE_VARS.sub_domain }} Real Estate Agency - Villas, Apartment, Plot, Property for Sale and Rent.</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="estudio, apartamento, atico, adosado, villa, finca, parcela, cortijo, bungalow, duplex, pareado, casa, campo, casa, pueblo, vialla, pareada, apartamento, planta, baja, edificio, castillo, propiedades, villas, venta, alquiler, banus, marbella, zagaleta, sierra, blanca" />
    <meta name="title" content="" />
    <link rel="alternate" hreflang="es" href="es/index.html" />
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/bootstrap/css/bootstrap.min.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/screen.css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ PUBLIC_URI }}/bootstrap/js/bootstrap.min.js"></script>
   <script language="Javascript" type="text/javascript">
        //<![CDATA[
    
       <!-- Begin
        document.oncontextmenu = function(){return false}
        // End -->
        //]]>
    </script> 

<!-- Load stylesheets -->
	<link id="theme-colors" type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/themes/default.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/print.css" media="print" />
	<link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/jquery.fancybox-1.3.4.css" media="screen" />
	<!--[if lt IE 7]><link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/ie6.css" media="screen" /><![endif]-->
<!-- // Load stylesheets -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.js"></script> 

	<!-- Load Javascript / jQuery -->
		<!--[if lt IE 7]><script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script><![endif]-->  		
	<!-- // Load Javascript / jQuery -->
    <!-- Load Javascript / RGH Google MAPS -->
    <script type="text/javascript" 
           src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- //Load Javascript / RGH Google MAPS -->
    
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<!-- // Favicon -->
	<script src='https://www.google.com/recaptcha/api.js'></script>
	
	<style>
	
	  h1 {
	    color: "#00bcd4";
	  }
	  .widgettitle {
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      line-height: 100%;
      color: {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color1 }};
    }
    
    #search-box-home {
    background: {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color1 }};
    }
  
    .active-bg-color {
      background: {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color1  }} !important;
    }
    .active-color {
      color: {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color2  }} !important;
    }
	  #search-box-home form label {
      color: #fff;
    }
    a:link, a:visited, a:active{
      color: #777777;
    }
     
    #outer ul.plist>li>div.panel-default {
        min-height: 380px;
        height: 380px;
    }

    .property-wrap {
        overflow: hidden;
    }
    .property-wrap>.img-preview img{
        height: 155px;
        width: auto;
        min-width: 100%;
    }
    .property-details {
        margin-top: 10px;
    }
    .property-details div.view-btn-wrap{
        position: absolute;
        bottom: 15px;
        padding: 15px;
        text-align: right;
        right: 5%;
    }

    </style>
	
	{% block afterHead %}{% endblock %}    
</head>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<body onLoad="pedirZonas()">	


<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "position": "top",
  "static": true
})});
</script>

{% block body %}{% endblock %}

{%block beforeFooter  %}{% endblock %}

<div id="footer" class="footer clearfix">
  <div class="container">
    <div class="row">
    <div class="col-sm-6 col-sm-3">
      <div class="widget widget_links">
        {% if GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_left_footer.title|length > 0 %}	
		<h3 class="widgettitle">{{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_left_footer.title }}</h3>
	{% endif %}
          <ul>   
		{% for link in GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_left_footer.links %}
              <li><a href="{{ link.url }}">{{ link.link }}</a></li>
              {% endfor %}      
          </ul>
        </div>
      </div><!--//col-xs-6 col-sm-3-->
    <div class="col-sm-6 col-sm-3">
      <div class="widget widget_links">
	{% if GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_centre_footer.title|length > 0 %}
        	<h3 class="widgettitle">{{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_centre_footer.title }}</h3>
        {% endif %}
	  <ul>
		{% for link in GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_centre_footer.links %}
              <li><a href="{{ link.url }}">{{ link.link }}</a></li>
              {% endfor %}
          </ul>
        </div>      
    </div>
    <div class="col-sm-6 col-sm-3">   
      <div class="widget widget_links">
        {% if GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_right_footer.title|length > 0 %}
		<h3 class="widgettitle">{{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_right_footer.title }}</h3>
	{% endif %}
          <ul>
		{% for link in GLOBAL_SITE_VARS.ACTIVE_AGENCY.html_right_footer.links %}
              <li><a href="{{ link.url }}">{{ link.link }}</a></li>
              {% endfor %}
          </ul>
        </div>
      </div><!--//col-xs-6 col-sm-3-->
    <div class="col-sm-6 col-sm-3 last">
      <div class="widget">
        <h3 class="widgettitle">KS Group</h3>
        <img class="portrait-footer" src="{{ PUBLIC_URI }}/images/ksmarine-ftr.jpg" width="70" height="51" alt="KS Group" /><p>Welcome to the Kristina Szekely Sotheby's International Realty Real Estate Agency. Our company has been established for more than 30 years, and our name is synonymous with luxury real estate.  </p><a href="{{ path_for('kristina-szekely') }}" title="Kristina Szekely" class="right">View more &raquo;</a>                      
        </div>                    
    </div><!--//col-xs-6 col-sm-3-->
    <div class="clear"></div><!--//clear-->
  </div><!--//row-->
  <div class="row">
    <div class="col-sm-5 col-md-6">
    <div class="widget">
      <h3 class="widgettitle">KS Group</h3>
      <a href="http://www.ksmarbella.com">Marbella</a> &middot; <a href="http://www.kssotogrande.com">Sotogrande</a> &middot; <a href="http://www.gibraltarsothebysrealty.com">Gibraltar</a> &middot; <a href="http://www.kssevilla.com">Sevilla</a> &middot; International   </div><!--//widget-->
  </div><!--//col-sm-5 col-md-6-->
  <div class="col-xs-6 col-sm-3">
    <div class="widget">
      <h3 class="widgettitle">Unique Homes Magazine </h3>
      <p><a href="{{ path_for('unique-home-magazine') }}" title="Unique Home Magazine" class="pdf">Download PDF's Magazine</a></p>
    </div><!--//widget-->
  </div><!--//col-xs-6 col-sm-3-->
  <div class="col-xs-6 col-sm-3 last">
    <div class="widget">
      <h3 class="widgettitle">Follow Us</h3>
      
      <!-- Go to www.addthis.com/dashboard to customize your tools-->
	                    	<div class="addthis_inline_follow_toolbox"></div>
 <!--      <div class="right">
       <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-send="false" data-layout="button_count" data-href="http://www.ksmarbella.com" data-width="140" data-show-faces="false"></div>
    	</div>
    <p><a href="http://www.facebook.com/KristinaSzekelySIR" title="Kristina Szekely Sothebys International Realty - Facebook" target="_blank"><img src="{{ PUBLIC_URI }}/images/icons/facebook.png" width="24" height="24" alt="Kristina Szekely Sothebys International Realty - Facebook"></a> <a href="http://twitter.com/#!/SzekelyKristina" title="@SzekelyKristina" target="_blank"><img src="{{ PUBLIC_URI }}/images/icons/twitter.png" width="24" height="24" alt="Twitter"></a> 
    <g:plusone annotation="none"></g:plusone></p>
      </div>--><!--//widget-->
      
  </div><!--//col-xs-6 col-sm-3-->
<div class="clear"></div><!--//clear-->
</div><!--//row-->
</div><!--//container-->
</div><!-- //footer -->

{% include "blocks/footer.phtml" %}
