<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msvalidate.01" content="ECA292DDA0D79C9748299814A1E6C17E" />
	<title>Kristina Szekely Sotheby's Int. Realty Real Estate Agency - Villas, Apartment, Plot, Property for Sale and Rent.</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="estudio, apartamento, atico, adosado, villa, finca, parcela, cortijo, bungalow, duplex, pareado, casa, campo, casa, pueblo, vialla, pareada, apartamento, planta, baja, edificio, castillo, propiedades, villas, venta, alquiler, banus, marbella, zagaleta, sierra, blanca" />
    <meta name="title" content="" />
    <link rel="alternate" hreflang="es" href="es/index.html" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/bootstrap/css/bootstrap.min.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/screen.css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ PUBLIC_URI }}/bootstrap/js/bootstrap.min.js"></script>
   <script language="Javascript" type="text/javascript">
        //<![CDATA[
    
       <!-- Begin
        document.oncontextmenu = function(){return false}
        // End -->
        //]]>
    </script> 

<!-- Load stylesheets -->
	<link id="theme-colors" type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/themes/default.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/print.css" media="print" />
	<link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/jquery.fancybox-1.3.4.css" media="screen" />
	<!--[if lt IE 7]><link type="text/css" rel="stylesheet" href="{{ PUBLIC_URI }}/css/ie6.css" media="screen" /><![endif]-->
<!-- // Load stylesheets -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.js"></script> 

	<!-- Load Javascript / jQuery -->
		<!--[if lt IE 7]><script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script><![endif]-->  		
	<!-- // Load Javascript / jQuery -->
    <!-- Load Javascript / RGH Google MAPS -->
    <script type="text/javascript" 
           src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- //Load Javascript / RGH Google MAPS -->
    
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<!-- // Favicon -->
	<script src='https://www.google.com/recaptcha/api.js'></script>
	
	<style>
	
	h1 {
	color: "#00bcd4";
	}
	.widgettitle {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    line-height: 100%;
    color: <?php echo $color; ?>;
    }
    
    #search-box-home {
    background: <?php echo $color; ?>;
    }
    
	#search-box-home form label {
    color: #fff;
    }
    a:link, a:visited, a:active{
    color: #777777;
     }
    </style>
	
	{% block afterHead %}{% endblock %}    
</head>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<body onLoad="pedirZonas()">	


<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "position": "top",
  "static": true
})});
</script>

{% block body %}{% endblock %}

{%block beforeFooter  %}{% endblock %}

<div id="footer" class="footer clearfix">
  <div class="container">
    <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="widget widget_links">
        <h3 class="widgettitle">Luxury Properties</h3>
          <ul>
              <li><a href="property-search.php?referencia=&areas=7&area=4&tipo=2&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Villa for sale in La Zagaleta</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=41&tipo=2&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Villa for sale in Sierra Blanca</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=35&tipo=2&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Villa for sale in Guadalmina</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=46&tipo=2&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Properties in Puerto Banus</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=29&tipo=2&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Properties in Nueva Andalucía</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=29&tipo=1&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Apartament in Nueva Andalucia</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=29&tipo=5&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Plot and Land in Nueva Andalucia</a></li>
          </ul>
        </div>
      </div><!--//col-xs-6 col-sm-3-->
    <div class="col-xs-6 col-sm-3">
      <div class="widget widget_links">
        <h3 class="widgettitle">Selected Properties</h3>
          <ul>
                        <li><a href="property-search.php?referencia=&areas=7&area=4&tipo=1&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1&page=2">Apartament in Benahavis</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=41&tipo=1&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Properties in Golden Mile</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=40&tipo=1&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Properties in Marbella East</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=11&tipo=2&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Villa in Estepona</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=11&tipo=1&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Apartment in Estepona</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=24&tipo=1&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Marbella front Line Beach Apartment</a></li>
                        <li><a href="property-search.php?referencia=&areas=7&area=41&tipo=1&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Golden Mile front Line Beach Apartment</a></li>
          </ul>
        </div>      
    </div>
    <div class="col-xs-6 col-sm-3">   
      <div class="widget widget_links">
        <h3 class="widgettitle">LUXURY RENTALS</h3>
          <ul>
                        <li><a href="property-search.php?referencia=&period=&areas=7&area=41&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Luxury Villa for rent in Golden Mile</a></li>
                        <li><a href="property-search.php?referencia=&period=&areas=7&area=41&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1&page=6">Villa for rent in Golden Mile</a></li>
                        <li><a href="property-search.php?referencia=&period=&areas=7&area=41&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=8%2C9%2C10&pagina=1&boxres=1">Villa with 8 to 10 rooms in Golden Mile</a></li>
                        <li><a href="property-search.php?referencia=&period=&areas=7&area=41&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Villa for rent in Sierra Blanca</a></li>
                        <li><a href="property-search.php?referencia=&period=&areas=7&area=41&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=3%2C4&pagina=1&boxres=1">Summer Rentals</a></li>
                        <li><a href="property-search.php?referencia=&period=&areas=7&area=41&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Apartament for rent</a></li>
                        <li><a href="property-search.php?referencia=&period=&areas=7&area=41&preciolistadesde=1&preciolistahasta=1000000000&dormitorios=&pagina=1&boxres=1">Penthouse for rent</a></li>
          </ul>
        </div>
      </div><!--//col-xs-6 col-sm-3-->
    <div class="col-xs-6 col-sm-3 last">
      <div class="widget">
        <h3 class="widgettitle">KS Group</h3>
        <img class="portrait-footer" src="{{ PUBLIC_URI }}/images/ksmarine-ftr.jpg" width="70" height="51" alt="KS Group" /><p>Welcome to the Kristina Szekely Sotheby's International Realty Real Estate Agency. Our company has been established for more than 30 years, and our name is synonymous with luxury real estate.  </p><a href="kristina-szekely.html" title="Kristina Szekely" class="right">View more &raquo;</a>                      
        </div>                    
    </div><!--//col-xs-6 col-sm-3-->
    <div class="clear"></div><!--//clear-->
  </div><!--//row-->
  <div class="row">
    <div class="col-sm-5 col-md-6">
    <div class="widget">
      <h3 class="widgettitle">KS Group</h3>
      <a href="http://www.ksmarbella.com">Marbella</a> &middot; <a href="http://www.kssotogrande.com">Sotogrande</a> &middot; <a href="http://www.gibraltarsothebysrealty.com">Gibraltar</a> &middot; <a href="http://www.ksmadrid.com">Madrid</a> &middot; <a href="http://www.kssevilla.com">Sevilla</a> &middot; International   </div><!--//widget-->
  </div><!--//col-sm-5 col-md-6-->
  <div class="col-xs-6 col-sm-3">
    <div class="widget">
      <h3 class="widgettitle">Unique Homes Magazine </h3>
      <p><a href="unique-home-magazine.html" title="Unique Home Magazine" class="pdf">Download PDF's Magazine</a></p>
    </div><!--//widget-->
  </div><!--//col-xs-6 col-sm-3-->
  <div class="col-xs-6 col-sm-3 last">
    <div class="widget">
      <h3 class="widgettitle">Follow Us</h3>
      <div class="right">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-send="false" data-layout="button_count" data-href="http://www.ksmarbella.com" data-width="140" data-show-faces="false"></div>
    </div>
    <p><a href="http://www.facebook.com/KristinaSzekelySIR" title="Kristina Szekely Sothebys International Realty - Facebook" target="_blank"><img src="{{ PUBLIC_URI }}/images/icons/facebook.png" width="24" height="24" alt="Kristina Szekely Sothebys International Realty - Facebook"></a> <a href="http://twitter.com/#!/SzekelyKristina" title="@SzekelyKristina" target="_blank"><img src="{{ PUBLIC_URI }}/images/icons/twitter.png" width="24" height="24" alt="Twitter"></a> 
    <g:plusone annotation="none"></g:plusone></p>
      </div><!--//widget-->
  </div><!--//col-xs-6 col-sm-3-->
<div class="clear"></div><!--//clear-->
</div><!--//row-->
</div><!--//container-->
</div><!-- //footer -->

<div id="footer-bottom" class="footer clearfix">
  <div class="container">
    <div class="row">
    <div class="grid_12">
      <p class="left">&copy; 2016 Kristina Szekely SIR - Real Estate Agents - All rights reserved. | <a href="{{ path_for('legal-advise') }}" title="Legal Advise">Legal Advise</a> | <a href="{{ path_for('terms') }}" title="Terms">Terms</a> | <a href="{{ path_for('contact') }}" title="Contact">Contact</a> | </p>
    <p class="right"><a href="#" class="scroll-top" title="TOP">TOP</a></p>
    </div>
  </div><!--//container-->
</div><!--//footer-bottom-->
</div><!-- //outer -->

<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-10278369-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript';
ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
 })();

</script>
<!-- G+ -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en'};
 
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</body>

</html>