<div id="footer-bottom" class="footer clearfix">
  <div class="container">
    <div class="row">
    <div class="grid_12">
      <p class="left">&copy; {{ "now"|date("Y") }} {{"welcome"|trans}} Kristina Szekely SIR - Real Estate Agents - All rights reserved. | <a href="{{ path_for('legal-advise') }}" title="Legal Advise">Legal Advise</a> | <a href="{{ path_for('terms') }}" title="Terms">Terms</a> | <a href="{{ path_for('contact') }}" title="Contact">Contact</a> | </p>
    <p class="right"><a href="#" class="scroll-top" title="TOP">TOP</a></p>
    </div>
  </div><!--//container-->
</div><!--//footer-bottom-->
</div><!-- //outer -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122671548-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122671548-1');
</script>

<!--
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-10278369-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript';
ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
 })();

</script>
-->
<!-- Hotjar Tracking Code for https://marbella.kssir.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:950340,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!--Track-->

<script type="text/javascript">
  //GLOBAL VARS
  var URL_SUB_AREA_SELECT_TRIGGER = "{{ path_for('api-city_rel_subareas') }}";

(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'https://support.secure.globalroaming.com/scripts/track.js',
function(e){  });
</script>

<!-- Chat -->
<script type="text/javascript">
var chatButton;
(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'https://support.secure.globalroaming.com/scripts/track.js',
function(e){  
LiveAgent.addTicketField('CustTickPropRef', '[PropRef]');
chatButton =LiveAgent.createButton('12d99918', e,'[PropRef]'); });

</script>

<!-- G+ -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en'};
 
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b51f2fe555ea1fe"></script>
<script type="text/javascript" src="{{ PUBLIC_URI }}/js/common.js"></script>
</body>

</html>