<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      		<div class="container">            	
      			<div class="col-md-5">
			        <div class="navbar-header img-responsive">
			          <a class="navbar-brand img-responsive" href="{{ path_for('index') }}" title="Luxury property for sale Marbella real estate agent, Estepona, Sotogrande, Costa del Sol, Madrid, Spain"><img class="img-responsive" src="{{ PUBLIC_URI }}/images/logo-trans.png" alt="Luxury property for sale <?php echo $first2; ?> real estate agent, Costa del Sol, Spain" /></a>
			        <br /><h1><span style="margin-left:70px; margin-top:15px; font-size: 18px;"><?php echo $first2; ?></span></h1></div>
      			</div>
      			<div class="col-md-7">
                  	<div class="row">
	                    <div id="topbar">                    
		                    <span class="phone"><img src="{{ PUBLIC_URI }}/images/phone-top.gif" alt="Phone" width="300" height="21" border="0" usemap="#Map">
		                    <map name="Map">
		                      <area shape="rect" coords="-1,3,104,17" href="mailto:info@kssir.com" alt="Email contact">
		                    </map>
		                    </span>
	                    	<span class="social"><a href="https://www.facebook.com/pages/Kristina-Szekely-Sothebys-International-Realty/283134395030977" title="Kristina Szekely Sothebys International Realty - Facebook" target="_blank"><img src="{{ PUBLIC_URI }}/images/icons/facebook.png" width="24" height="24" alt="Facebook"></a> <a href="http://twitter.com/#!/SzekelyKristina" title="@SzekelyKristina" target="_blank"><img src="{{ PUBLIC_URI }}/images/icons/twitter.png" width="24" height="24" alt="Twitter"></a></span>
	                    </div>
                	</div>
                    
                	<div class="row">
				        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
	                    <div class="navbar-collapse collapse">
		                    <ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="{{ path_for('index')  }}" title=""><span class="glyphicon glyphicon-home"></span></a></li>
		                        <li><a href="{{ path_for('dream-homes') }}" title="">Dream Homes</a></li>
								<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="property-search.php.html" title="">Properties <span class="caret"></span></a>
		                        	<ul class="dropdown-menu" role="menu">
		                            	<li><a href="{{ path_for('property-for-sale') }}" title="Property for Sale">Property for Sale</a></li>
		                                <li><a href="{{ path_for('property-rentals-search') }}" title="Property for Rent">Property for Rent</a></li>
		                                <li><a href="{{ path_for('property-opportunities') }}" title="Property Opportunities">Property Opportunities</a></li>
		                                <li><a href="{{ path_for('property-of-the-month') }}" title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile">Property of the month</a></li>
		                                
		                            </ul>
		                		</li>
		                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="services.html" title="">Services <span class="caret"></span></a>
		                        	<ul class="dropdown-menu multi-level">
		                            	<li><a href="{{ path_for('services') }}" title="Services">Services</a></li>
		                            	<li><a href="{{ path_for('buying-a-property') }}" title="">Buying a Property</a></li>
		                                <li><a href="{{ path_for('selling-a-property') }}" title="">Selling a Property</a></li>
		                                <li class="dropdown-submenu"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path_for('renting-a-property') }}" title="">Renting a Property</a>
		                                <ul class="dropdown-menu">
		                                	<li><a href="{{ path_for('renting-a-property') }}" title="">Renting a Property</a></li>
		                                	<li><a href="{{ path_for('renting-services') }}" title="">Renting Services</a></li>
		                                	<li><a href="{{ path_for('renting-submit') }}" title="">Renting Submit</a></li>
		                                </ul>
		                                </li>
		                            </ul>
		                        
		                		</li>
								<li><a href="{{ path_for('investments') }}" title="">Investments</a></li>
		                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path_for('kristina-szekely') }}" title="">About Us <span class="caret"></span></a>
		                        	<ul class="dropdown-menu" role="menu">
		                            	<li><a href="{{ path_for('kristina-szekely') }}" title="">Kristina Szekely</a></li>
		                            </ul>
		                        </li>
								<li class="itemMediaMenu dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="media.html" title="">Media <span class="caret"></span></a>
		                        	<ul class="dropdown-menu" role="menu">
		                            	<li><a href="{{ path_for('media') }}" title="Video">Video</a></li>
		                            	<li><a href="{{ path_for('unique-home-magazine') }}" title="Unique Home Magazine">Unique Home Magazine</a></li>
		                            	<li><a href="{{ path_for('press') }}" title="Press">Press</a></li>
		                            </ul>
		                        </li>
								<li class="selectLang dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Laguage, Idioma, язык" class="esp"><img src="{{ PUBLIC_URI }}/images/en.png" width="18" height="12" alt="1"> <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
		                        <?if( LANG != "en"):?>
				                	<li><a href="index.html" title="Website en Espa&ntilde;ol" class="esp"><img src="{{ PUBLIC_URI }}/images/en.png" width="18" height="12" alt="2"></a></li>
				                <?endif;?>
				                <?if( LANG != "es"):?>
				                	<li><a href="es/index.html" title="Website en Espa&ntilde;ol" class="esp"><img src="{{ PUBLIC_URI }}/images/es.png" width="18" height="12" alt="3"></a></li>
				                <?endif;?>
				                <?if( LANG != "ru"):?>
				                	<li><a href="ru/index.html" title="Сайт EN Русо" class="esp"><img src="{{ PUBLIC_URI }}/images/ru.png" width="18" height="12" alt="4"></a></li>
				                <?endif;?>
		                			</ul>
		                        </li>
							</ul>
						</div>
					</div>
      			</div>
            
			</div><!-- //container_12 -->
            
        
        </div><!-- //header -->