<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      		<div class="container">            	
      			<div class="col-md-5">
			        <div class="navbar-header img-responsive">
			          <a class="navbar-brand img-responsive" href="{{ path_for('index') }}" title="Luxury property for sale Marbella real estate agent, Estepona, Sotogrande, Costa del Sol, Madrid, Spain"><img class="img-responsive" src="{{ PUBLIC_URI }}/images/logo-trans.png" alt="Luxury property for sale {{ GLOBAL_SITE_VARS.sub_domain }} real estate agent, Costa del Sol, Spain" /></a>
			        <br /><h1><span style="margin-left:70px; margin-top:15px; font-size: 18px;">{{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.title }}</span></h1></div>
      			</div>
      			<div class="col-md-7">
                  	<div class="row">
	                    <div id="topbar"> 
          <div class="col-xs-6 col-sm-2"><a href="http://marbella.kssir.co.uk" title="Marbella Properties" class="btn btn-default" style="color:{% if GLOBAL_SITE_VARS.sub_domain == 'Marbella' %} {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color1 }}{% endif %}">Marbella</a></div>
      <div class="col-xs-6 col-sm-3"><a href="http://sotogrande.kssir.co.uk" title="Sotogrande Properties" class="btn btn-default" style="color:{% if GLOBAL_SITE_VARS.sub_domain == 'Sotogrande' %} {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color1 }} {% endif %}">Sotogrande</a></div>
      <div class="col-xs-6 col-sm-2"><a href="http://gibraltar.kssir.co.uk" title="Gibraltar Properties" class="btn btn-default" style="color:{% if GLOBAL_SITE_VARS.sub_domain == 'Gibraltar' %} {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color1 }} {% endif %}">Gibraltar</a></div>
      <div class="col-xs-6 col-sm-2"><a href="http://sevilla.kssir.co.uk" title="Sevilla Properties" class="btn btn-default" style="color:{% if GLOBAL_SITE_VARS.sub_domain == 'Sevilla' %} {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.color1 }} {% endif %}">Sevilla</a></div>
                    <div class="col-xs-6 col-sm-3">
		                  <span class="phone addthis_inline_follow_toolbox"></span>
		           <!--       <img src="{{ PUBLIC_URI }}/images/phone-top.gif" alt="Phone" width="300" height="21" border="0" >-->
		                </div>
	                    </div>
                	</div>
                    
                	<div class="row">
				        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
	                    <div class="navbar-collapse collapse">
		                    <ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="{{ path_for('index')  }}" title=""><span class="glyphicon glyphicon-home"></span></a></li>
		                        <li><a href="{{ path_for('dream-homes') }}" title="">Dream Homes</a></li>
								<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="property-search.php.html" title="">Properties <span class="caret"></span></a>
		                        	<ul class="dropdown-menu" role="menu">
		                            	<li><a href="{{ path_for('property-search') }}?rent_or_sale=sale" title="Property for Sale">Property for Sale</a></li>
		                                <li><a href="{{ path_for('property-search') }}?rent_or_sale=rent" title="Property for Rent">Property for Rent</a></li>
		                                <li><a href="{{ path_for('property-search') }}?rent_or_sale=sale" title="Property Opportunities">Property Opportunities</a></li>
		                                <li><a href="{{ path_for('property-of-the-month') }}" title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile">Property of the month</a></li>
		                                
		                            </ul>
		                		</li>
		                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="services.html" title="">Services <span class="caret"></span></a>
		                        	<ul class="dropdown-menu multi-level">
		                            	<li><a href="{{ path_for('services') }}" title="Services">Services</a></li>
		                            	<li><a href="{{ path_for('buying-a-property') }}" title="">Buying a Property</a></li>
		                                <li><a href="{{ path_for('selling-a-property') }}" title="">Selling a Property</a></li>
		                                <li class="dropdown-submenu"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path_for('renting-a-property') }}" title="">Renting a Property</a>
		                                <ul class="dropdown-menu">
		                                	<li><a href="{{ path_for('renting-a-property') }}" title="">Renting a Property</a></li>
		                                	<li><a href="{{ path_for('renting-services') }}" title="">Renting Services</a></li>
		                                	<li><a href="{{ path_for('renting-submit') }}" title="">Renting Submit</a></li>
		                                </ul>
		                                </li>
		                            </ul>
		                        
		                		</li>
								<li><a href="{{ path_for('investments') }}" title="">Investments</a></li>
		                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path_for('kristina-szekely') }}" title="">About Us <span class="caret"></span></a>
		                        	<ul class="dropdown-menu" role="menu">
		                            	<li><a href="{{ path_for('kristina-szekely') }}" title="">Kristina Szekely</a></li>
		                            </ul>
		                        </li>
								<li class="itemMediaMenu dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="media.html" title="">Media <span class="caret"></span></a>
		                        	<ul class="dropdown-menu" role="menu">
		                            	<li><a href="{{ path_for('media') }}" title="Video">Video</a></li>
		                            	<li><a href="{{ path_for('unique-home-magazine') }}" title="Unique Home Magazine">Unique Home Magazine</a></li>
		                            	<li><a href="{{ path_for('press') }}" title="Press">Press</a></li>
		                            </ul>
		                        </li>
								<li class="selectLang dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#" class="esp">
										<img src="{{ PUBLIC_URI }}/images/{{ ACTIVE_LOCALE }}.png" width="18" height="12" alt="1"> <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
				                        <?if( LANG != "en"):?>
						                	<li
						                	{% if ACTIVE_LOCALE == "en" %}
						                		class="active"
					                		{% endif %}
						                	><a href="{{ path_for('set-lang') }}?lang=en" title="Website in English" class="esp"><img src="{{ PUBLIC_URI }}/images/en.png" width="18" height="12" alt="2"> <small>Website in English</small></a></li>
						                <?endif;?>
						                <?if( LANG != "es"):?>
						                	<li 
					                		{% if ACTIVE_LOCALE == "es" %}
						                		class="active"
					                		{% endif %}
						                	><a href="{{ path_for('set-lang') }}?lang=es" title="Website en Espa&ntilde;ol" class="esp"><img src="{{ PUBLIC_URI }}/images/es.png" width="18" height="12" alt="3"> <small>Website en Espa&ntilde;ol</small></a></li>
						                <?endif;?>
						                <?if( LANG != "ru"):?>
						                	<li
						                	{% if ACTIVE_LOCALE == "ru" %}
						                		class="active"
					                		{% endif %}
						                	><a href="{{ path_for('set-lang') }}?lang=ru" title="Сайт EN Русо" class="esp"><img src="{{ PUBLIC_URI }}/images/ru.png" width="18" height="12" alt="4"> <small>Сайт EN Русо</small></a></li>
						                <?endif;?>
		                			</ul>
		                        </li>
							</ul>
						</div>
					</div>
      			</div>
            
			</div><!-- //container_12 -->
            
        
        </div><!-- //header -->
