<div id="search-box-home">
      <form name="formulario" action="{{ path_for('property-search') }}">
          <h2><span class="glyphicon glyphicon-search"></span> Property Search</h2>
          <hr />
          <div class="row">
              <div class="col-xs-6 col-md-4">
                  <label>Area</label> 
                  <script language="JavaScript" type="text/javascript" src="{{ PUBLIC_URI }}/js/ajx_sf.js"></script> 
          
                  <!-- province -->
                  <select id="area" name="city" title="Choose Area" onChange="getQuartersList()" data-sub-area-select-trigger>
                      <option value="">Choose Area</option>
                      {% for province in provinces_cities %}
                          {% if province['rel_cities']|length > 0 %}
                              <optgroup label="{{ province['name'] }}">
                                  {% for city in province['rel_cities'] %}
                                      <option 
                                        value="{{ city['id'] }}">{{ city['name'] }}</option>
                                  {% endfor %}
                              </optgroup>
                          {% endif %}
                      {% endfor %}
                  </select>
                  <!-- province -->
              </div> <!-- col-xs-6 col-md-4-->

              <div class="col-xs-6 col-md-4">
                  <label>Sub area</label>
                  <select id="quarter" name="subarea" data-sub-area-select title="Sub area">
                  <option value="">Choose sub area</option>
                  </select>
              </div>

              <div class="col-xs-6 col-md-4">
                	<label>Rent or sale:</label> 
                  <select name="rent_or_sale" id="jumpMenu" data-onchange="MM_jumpMenu('parent',this,0)">
                    <option value="sale">Sale</option>
                    <option value="rent">Rent</option>
                  </select>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                  <label for="valueA">Price from: </label> 
                  <select name="price_min" id="preciolistadesde">
                    <option value="1" selected="selected">No Minimum</option>
                    <option value="200000">200.000 &euro;</option>
                    <option value="400000">400.000 &euro;</option>
                    <option value="500000">500.000 &euro;</option>
                    <option value="600000">600.000 &euro;</option>
                    <option value="700000">700.000 &euro;</option>
                    <option value="1000000">1.000.000 &euro;</option>
                    <option value="1500000">1.500.000 &euro;</option>
                    <option value="3000000">3.000.000 &euro;</option>
                    <option value="5000000">5.000.000 &euro;</option>
                    <option value="10000000">10.000.000 &euro;</option>
                    <option value="0">No Minimum</option>
                  </select>
              </div>
              <div class="col-xs-6">
                  <label for="valueB">Price to: </label> 
                  <select name="price_max" id="preciolistahasta">
                    <option value="1">No Minimum</option>
                    <option value="200000">200.000 &euro;</option>
                    <option value="400000">400.000 &euro;</option>
                    <option value="500000">500.000 &euro;</option>
                    <option value="600000">600.000 &euro;</option>
                    <option value="700000">700.000 &euro;</option>
                    <option value="1000000">1.000.000 &euro;</option>
                    <option value="1500000">1.500.000 &euro;</option>
                    <option value="3000000">3.000.000 &euro;</option>
                    <option value="5000000">5.000.000 &euro;</option>
                    <option value="10000000">10.000.000 &euro;</option>
                    <option value="0" selected="selected">No Maximum</option>
                  </select>
              </div>
          </div>
          <div class="row">
          <div class="col-xs-6"> 
            <label for="tipo">Property type: </label> 
            <select id="tipo" name="property_type" title="Click to Select a property type" class="250">
              <option value="">Click to Select a property type</option>
              {% for property_type in property_types %}
                  <option value="{{ property_type['id'] }}">{{ property_type['name'] }}</option>
              {% endfor %}
            </select>
          </div> 
        
          <div class="col-xs-6">
          	<input name="searchcmd" type="submit" class="cmd" value="View Properties"><input name="boxres" type="hidden" value="1">
          </div>
        </div>
   	  </form>

      <div class="hsep"></div>

      <form action="{{ path_for('property-search') }}">
        <div class="row">
          <div class="col-xs-6"> 
     		  <input value="Search with Ref." onfocus="if(this.value=='Search with Ref.')this.value='';" onblur="if(this.value=='')this.value='Search with Ref.';" class="keyword" size="12" name="reference" id="referencia" />                                                    
          </div>
          <div class="col-xs-6">
          	<input type="submit" value="View Reference">
          </div>
        </div>     	
      </form>
      <a href="{{ path_for('contact') }}" class="contact" title="Contact">Can not find a property?  <span>Contact Us &rsaquo;</span></a>       
</div>