{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}

<div class="container">
        	<div class="row">
	<div class="col-md-9">
		<div class="page-header"><h2>Buying a Property in Spain</h2></div>
		<p>Buying a property in Spain is relatively straightforward and will pose no problem as long as the correct steps are followed. &nbsp;Kristina Szekely offers one of the largest property portfolios in the Marbella area, and our property professionals will happily guide you through the purchase process.&nbsp; If you do not already have a lawyer, it is recommended that you engage one to safeguard your interests throughout the purchase. <br />
  Kristina Szekely does not work with any particular lawyer, but we have worked with many competent professionals in the area and we are happy to recommend one depending on your language preference.</p>
<p>The following is an approximate guide to the purchase process, although this may differ from time to time depending on the particular operation.</p>
<h4>Reservation</h4>
<p>Once you have decided on a property you want to buy, it is normal procedure in Spain to place a reservation deposit.&nbsp; This can be anything from 3.000 &ndash; 10.000 euros, depending on the purchase price.&nbsp; This deposit is accompanied by a reservation contract which states the names and identification numbers of the buyer and seller, the agreed sale price and any conditions that have been agreed concerning the purchase.&nbsp; The reservation deposit is normally paid to the estate agent or your lawyer to show good faith.&nbsp; It is recommended to never pay a reservation deposit directly to the owner.</p>
<h4>Property Check</h4>
<p>At this point your lawyer will begin carrying out the necessary checks on the property with the local land registry to ensure that all the property&rsquo;s documents are in correct order, that there are no embargos or debts on the property and that the person selling the property is actually the owner.</p>
<h4>Private Contract</h4>
<p>Once the lawyer is satisfied that everything is in correct order then the buyer and seller will sign a private purchase contract (a compraventa) and the buyer will pay a 10% deposit (less the original reservation deposit).&nbsp; In this contract, the buyer and seller details and identities are stated, along with the agreed sale price and the date for the final transfer of the property from seller to buyer.&nbsp; At this stage, if the buyer decides to withdraw from the purchase they will forfeit their deposit and if the seller withdraws they will be obliged to repay double the deposit amount to the buyer, unless otherwise agreed.</p>
<h4>Title Deed</h4>
<p>The final stage is when you pay the remainder of the monies due and the Title Deed (Escritura) is signed in front of a public Notary.&nbsp; After the deed has been signed your lawyer will register the property in the buyer&rsquo;s name at the local land registry.</p>
<h4>Purchase Costs</h4>
<p>There have been some significant changes to the taxes levied on purchasing property in Spain as from 1st January 2012.  The following is a summary of the taxes that a purchaser will pay subsequent to this date.</p>

<p><strong>When purchasing new property directly from a developer</strong><br />

IVA (VAT) is charged on all new properties (properties that have been newly constructed and purchased by the first owner) at a rate of 10% on the purchase price.</p>

<p><strong>When purchasing a re-sale property from another owner</strong><br />

From 1st January 2012 the transfer tax (ITP) has increased in the following format:</p>
<table width='300' class='services-data'>
  <tr>
    <th bgcolor='#cacee3' scope='col'>Purchase price</th>
    <th bgcolor='#cacee3' scope='col'>Tax due</th>
  </tr>
  <tr>
    <td bgcolor='#eaeaea'>0 - 400.000&euro;</td>
    <td bgcolor='#eaeaea'>8%</td>
  </tr>
  <tr>
    <td bgcolor='#f2f2f2'>400.000&euro; - 700.000&euro;</td>
    <td bgcolor='#f2f2f2'>9%</td>
  </tr>
  <tr>
    <td bgcolor='#eaeaea'>Above 700.000&euro;</td>
    <td bgcolor='#eaeaea'>10%</td>
  </tr>
</table>
<p>&nbsp;</p>
<h4>Other Paperwork required for purchasing a property</h4>
<p>Spanish nationals need only their identification (for all persons whose name is going to appear on the title deed).</p>
<p>If you are a non-resident the Spanish Ministry of Interior requires you to obtain a certificate of non-residency, which in turn determines your fiscal number, so that you can sign the title deed. It will also be required later in order to pay taxes. This document is known as an NIE number. As from 1st January 2012 local police stations are not accepting NIE applications through a power of Attorney; clients must now apply for their NIE personally at the police station or at Spanish Consulates / Embassies. </p>
<h4>Recommendations</h4>
<p>We recommend to open a bank account when commencing a property purchase as this will be needed not only for the purchase, but also to set up direct debits for the utility charges such as electricity and water.</p>
<p>It is also recommended to write a Spanish will. &nbsp;This only has to relate to assets situated within Spain and need not concern assets owned in your country of residence.&nbsp; This will simplify the probate process in the unfortunate event of the death of the property owner and significantly reduce costs and the duration of the process.</p>	</div><!--//col-md-9-->
	<div class="col-md-3">
		<? include(PATH."includes/sidebar-services.php"); ?>  
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}