{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}

<div class="container">
        	<div class="row">
  <div class="col-md-9" style=padding:15px;">

<center>
<script type="text/javascript">
(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'https://kssir.ladesk.com/scripts/track.js',
function(e){ LiveAgent.createForm('c4938b43', e); });
</script>
<center>

  </div><!--//col-md-9-->
  <div class="col-md-3">
    <? include(PATH."includes/sidebar.php"); ?>
    <? include(PATH."includes/bnr/bnr-1.php"); ?>
    <? include(PATH."includes/bnr/bnr-2.php"); ?>
  </div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}