{% extends "layouts/base_frontend.phtml" %}

{% block body %}
<body onLoad="pedirZonas()">	
    
	<div id="outer" class="clearfix">   
            
		{% include "blocks/main-menu.phtml" %}        
        
        <div class="container">
        	<div class="row">
	<div class="col-md-12">
		<div class="page-header"><h2>Dream Homes</h2></div>
	</div>
	<div class="col-md-12">
		<ul class="clean plist">
				{% for property in properties %}
                      <li class="col-sm-3">
                        <div class="panel panel-default">
                            <p> 
                                <a href="{{ property['seo_slug_uri'] }}"><img src="{{ property['images'][0]['url'] }}"title="{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }}" width="290" height="140" alt="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }}" class="img-responsive" /></a>
                            </p>
                            <div class="panel-body">
                                <h3>
                                    <a href="{{ property['seo_slug_uri'] }}" title="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }}">{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }} </a>
                                </h3>
                                <p>Price: {{ property['selling_price_eur'] | number_format(2, '.') }}&euro; </p>
                                <ul>
                                    <li>Plot M&sup2;: {{ property['mts_plot'] }}</li>
                                    <li>Built M&sup2;: {{ property['mts_build'] }}</li>
                                    <li>Bedrooms:</strong> {{ property['nr_bedrooms'] }}</li>
                                </ul>
                                <a href="{{ property['seo_slug_uri'] }}" title="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }}" class="btn btn-xs btn-default right">View details</a>
                            </div><!-- //.panel-body -->
                        </div><!-- //.panel panel-default -->
                      </li><!--//grid_3-->
                      {% endfor %}
				
				</ul>
			</div><!--//col-md-12-->
		</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}