{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

	<div id="outer" class="clearfix">   
            
		{% include "blocks/main-menu.phtml" %}      
        
        <div class="container">
        	<div class="row">  
        	
        	  <div class="well clearfix" style="margin:15px;">
    <div class="col-sm-2">
      <img class="img-thumbnail pull-left img-responsive" src="{{ PUBLIC_URI }}/images/ks-portrait-home.jpg" width="160" height="131" alt="Kristina Szekely">
    </div>
    <div class="col-sm-10">
      <h1>Welcome to Kristina Szekely {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.title }} - Search For The Unique {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.title }}</h1>      <p>Kristina Szekely Sotheby&rsquo;s International Realty is synonymous with luxury real estate in Marbella.&nbsp; For over thirty years Kristina Szekely has been the recognised market leader in providing high quality residential and commercial property to our clients.&nbsp; Renowned for our professional advice and the highest standards of service, our reputation for offering the very best <strong>properties in the Costa del Sol</strong>, Gibraltar and Madrid is second to none.&nbsp; Our wide ranging portfolio includes <strong>luxury villas for sale in Marbella</strong>, <strong>penthouses in Puerto Banus</strong>, <strong>properties in Sotogrande</strong>, as well as a selection of unique <strong>country property</strong>.<br /><b> Please feal free to contact us at : {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.tel }} or by email: {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.frontemail }}</b></p>    </div>
  </div><!--//well-->
  
  
<div class="col-sm-6 slider">
   <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" title="1" ></li>
        <li data-target="#myCarousel" data-slide-to="1" title="1"></li>
        <li data-target="#myCarousel" data-slide-to="2" title="1"></li>
        <li data-target="#myCarousel" data-slide-to="3" title="1"></li>
        <li data-target="#myCarousel" data-slide-to="4" title="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active"><img src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/1d0cc818-5b88-468d-a644-d39fa1822a41.jpg" title ="" width="770" height="300" /><div class="container"><div class="carousel-caption"><a class="btn btn-lg btn-primary" role="button" href="villa/for-sale/estepona/el-paraiso-barronal/property_KSSIR-23091P" title="Villa for Sale in El Paraiso Barronal,  Estepona">View details</a></div></div></div><div class="item "><img src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24112P_160852.jpg" title ="" width="770" height="300" /><div class="container"><div class="carousel-caption"><a class="btn btn-lg btn-primary" role="button" href="villa/for-sale-and-rent/nueva-andalucia/property_KSSIR-24112P" title="Villa for Sale and Rent in Nueva Andalucia">View details</a></div></div></div>      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

  </div><!--//col-md-8-->

  <div class="col-sm-6 search" style="margin-bottom:20px;">
      {% include "blocks/search-widget.phtml" %}
  </div><!--//col-md-4-->
  
</div><!--//row-->        
<!--      	
  <div class="row mnu-areas-full">
          <div class="col-xs-6 col-sm-3"><a href="http://marbella.kssir.co.uk" title="Marbella Properties" class="btn btn-default" style="color:<?php if($first2 == Marbella) echo $color; ?>">Marbella</a></div>
      <div class="col-xs-6 col-sm-3"><a href="http://sotogrande.kssir.co.uk" title="Sotogrande Properties" class="btn btn-default" style="color:<?php if($first2 == Sotogrande) echo $color; ?>">Sotogrande</a></div>
      <div class="col-xs-6 col-sm-3"><a href="http://gibraltar.kssir.co.uk" title="Gibraltar Properties" class="btn btn-default" style="color:<?php if($first2 == Gibraltar) echo $color; ?>">Gibraltar</a></div>
      <div class="col-xs-6 col-sm-3"><a href="http://sevilla.kssir.co.uk" title="Sevilla Properties" class="btn btn-default" style="color:<?php if($first2 == Sevilla) echo $color; ?>">Sevilla</a></div>
      </div>
-->

   
  <div class="clear"></div><!--//clear-->

        <div class="row">
					<div class="col-xs-6 col-sm-3">
						<div class="widget">
							<h3 class="widgettitle">Opportunities in {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.title }} <?php echo $first2; ?></h3> <!-- Opportunities Title-->
							<ul>
						    <li>
                  <!-- Opportunities Image -->
                                    <p><a href="plot/for-sale/marbella-east/marbesa/property_KSSIR-24138P" title="Plot for Sale in Marbesa,  Marbella Este">
                  <img src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24138P_161660.jpg" width="270" height="120" alt="Plot for Sale in Marbesa,  Marbella Este" class="img-thumbnail" />
                  </a>
                  <!-- Primera line debajo de foto-->
                  <a href="plot/for-sale/marbella-este/marbesa/property_KSSIR-24138P" title="Plot for Sale in Marbesa,  Marbella Este"><strong>Plot for Sale in Marbesa,  Marbella Este</strong></a><br />
					      	<!-- Segunda line debajo de foto-->
						  	  Bedrooms: 6<br />
                  Bathrooms: 7<br />
						      Built M&sup2;: 1057<br />
							    Price: 1.770.000&euro; <a href="plot/for-sale/marbella-este/marbesa/property_KSSIR-24138P" class="btn btn-xs btn-default right" title="Plot for Sale in Marbesa,  Marbella Este">View all &raquo;</a></p>
                </li>								
							</ul>
						</div>
						
           </div><!-- col-xs-6 col-sm-3-->
					
					
					
					<div class="col-xs-6 col-sm-3">
					
						<div class="widget">
							<h3 class="widgettitle">Apartment of the month {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.title }}</h3>
							<ul>
                <li>    
                                           
  						      <!-- Opportunities Image -->
                    <p><a href="villa/for-sale/estepona/el-paraiso-barronal/property_KSSIR-23091P" title="Villa for Sale in El Paraiso Barronal,  Estepona">
                    <img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/1d0cc818-5b88-468d-a644-d39fa1822a41.jpg" width="270" height="120" alt="Villa for Sale in El Paraiso Barronal,  Estepona" class="img-thumbnail" /></a>
                    <!-- Primera line debajo de foto-->
                    <a href="/villa/for-sale/estepona/el-paraiso-barronal/property_KSSIR-23091P title="Villa for Sale in El Paraiso Barronal,  Estepona"><strong>Villa for Sale in El Paraiso Barronal,  Estepona</strong></a><br />
                    <!-- Segunda line debajo de foto-->
                    							  
  							  Bedrooms: 12<br />
                  Bathrooms: 13<br />
  							  Built M&sup2;: 2513<br />
  							  Price: 14.200.000&euro; <a href="/villa/for-sale/estepona/el-paraiso-barronal/property_KSSIR-23091P class="btn btn-xs btn-default right" title="Villa for Sale in El Paraiso Barronal,  Estepona">View details &raquo;</a></p>
                                </li>
							</ul>
						</div>

            </div><!-- col-xs-6 col-sm-3-->
                    
            <div class="col-xs-6 col-sm-3">
					
						<div class="widget">
							<h3 class="widgettitle">Latest listings in {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.title }}<?php echo $first2; ?></h3>
							<ul>
                	
                {% for property in latest_listings %}
                <li>
						<p>
							<a href="{{ property['seo_slug_uri'] }}">
								<img class="portrait-footer" src="{{ property['images'][0]['url'] }}" height="37" width="62" title="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }}" 
								class="img-thumbnai" />
							</a>
							<a href="{{ property['seo_slug_uri'] }}" title="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }}">{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }} </a> Price {% if property['selling_price_eur'] | length > 1 %}{{ property['selling_price_eur'] | number_format(2, ".") }}€ {% else %} Upon Request {% endif %}
						</p>
					</li>
				{% endfor %}
				
							</ul>
						</div>
						</div><!-- col-xs-6 col-sm-3 -->
					
					<div class="col-xs-6 col-sm-3">
					
						<div class="widget">
						  <h3 class="widgettitle">More Informations</h3>
							<p style="padding-top:1px;">You are Welcome! Please feel free to visit us in our new offices, we are open every single day in Marbella, Sotogrande, Gibraltar & Seville. Tel: {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.tel }}
							<center>
							<img class="img-responsive" style="max-width:80%; margin-top:15px; box-shadow:0px 0px 3px 0px #777;" src="{{ PUBLIC_URI }}/images/kssir_call2.jpg" alt="kssir_call_center.">
							</center>
							<br />Chat live with one of our representative or leave us a message, we will come back to you within 24 hours.</p>
              <div>
              <center>
         							<script type="text/javascript">
(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'https://kssir.ladesk.com/scripts/track.js',
function(e){ LiveAgent.createButton('54a7607c', e); });
</script>
</center>
     </div>
						</div>
					</div><!-- col-xs-6 col-sm-3 -->
        </div><!-- row -->
					
				<div class="clear"></div><!--//clear-->
				
				<div class="row">
          <div class="col-sm-5 col-md-6">
					
						<div class="widget textwidget clean">
              <!-- Property of the month -->
              <h3 class="widgettitle">Property of the month {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.title }}</h3>
                            <div class="xcd ">
                                          
              <a href="villa/for-sale/estepona/el-paraiso-barronal/property_KSSIR-23091P" title="Villa in Estepona ">
              <img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/1d0cc818-5b88-468d-a644-d39fa1822a41.jpg" width="570" height="300" title="Villa for Sale in El Paraiso Barronal,  Estepona" class="img-thumbnail" /></a>
              
              <!-- Over picture Property of the month-->
              <p class="slide-minicaption">
              <span class="title">Villa in Estepona </span>
              
              <span class="price">14.200.000&euro;</span><br />
              <a href="villa/for-sale/estepona/el-paraiso-barronal/property_KSSIR-23091P" class="view" title="Villa for Sale in El Paraiso Barronal,  Estepona">View details</a></p></div>
            </div>
            
           </div><!-- col-sm-5 col-md-6 -->
		<div class="col-xs-6 col-sm-3">
			<div class="widget">
				<h3 class="widgettitle">Marbella Frontline Beach Rentals</h3> <!-- Marbella Frontline Beach Rentals -->
        <ul>
					<li>
						<p>
							<a href="villa/for-rent/san-pedro-de-alcantara/guadalmina-baja/property_KSSIR-019689P">
								<img class="portrait-footer" src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-019689P_82660.jpg" height="37" width="62" title="Villa for Rent in Guadalmina Baja,  San Pedro de Alcantara" 
								class="img-thumbnai" />
							</a>
							<a href="villa/for-rent/san-pedro-de-alcantara/guadalmina-baja/property_KSSIR-019689P" title="Villa for Rent in Guadalmina Baja,  San Pedro de Alcantara">Villa in San Pedro de Alcantara </a>Price Upon Request
						</p>
					</li>
				</ul><ul>
					<li>
						<p>
							<a href="villa/for-rent/marbella-east/property_KSSIR-019601P">
								<img class="portrait-footer" src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-019601P_93382.jpg" height="37" width="62" title="Villa for Rent in Marbella East" 
								class="img-thumbnai" />
							</a>
							<a href="villa/for-rent/marbella-east/property_KSSIR-019601P" title="Villa for Rent in Marbella East">Villa in Marbella East 
							</a><br />Price Upon Request
						</p>
					</li>
				</ul><ul>
					<li>
						<p>
							<a href="villa/for-sale-and-rent/marbella-east/los-monteros-playa/property_KSSIR-019089P">
								<img class="portrait-footer" src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-019089P-26-4965.jpg" height="37" width="62" title="Villa for Sale and Rent in Los Monteros Playa,  Marbella East" 
								class="img-thumbnai" />
							</a>
							<a href="villa/for-sale-and-rent/marbella-east/los-monteros-playa/property_KSSIR-019089P" title="Villa for Sale and Rent in Los Monteros Playa,  Marbella East">Villa in Marbella East 
							</a><br />Price Upon Request
						</p>
					</li>
				</ul><ul>
					<li>
						<p>
							<a href="villa/for-sale-and-rent/marbella-east/los-monteros-playa/property_KSSIR-22819P">
								<img class="portrait-footer" src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-22819P_124520.jpg" height="37" width="62" title="Villa for Sale and Rent in Los Monteros Playa,  Marbella East" 
								class="img-thumbnai" />
							</a>
							<a href="villa/for-sale-and-rent/marbella-east/los-monteros-playa/property_KSSIR-22819P" title="Villa for Sale and Rent in Los Monteros Playa,  Marbella East">Villa in Marbella East 
							</a><br />Price Upon Request
						</p>
					</li>
				</ul> <!-- Dream Homes -->
      </div>
		</div><!-- col-xs-6 col-sm-3 -->
					
		<div class="col-xs-6 col-sm-3">
			<div class="widget">
        <div class="widget">
        	<h3 class="widgettitle">Dream Homes</h3>
				{% for property in properties_dream_homes %}
            	<ul>
					<li>
						<p>
							<a href="{{ property['seo_slug_uri'] }}">
								<img class="portrait-footer" src="{{ property['images'][0]['url'] }}" height="37" width="62" title="{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }}" 
								class="img-thumbnai" />
							</a>
							<a href="{{ property['seo_slug_uri'] }}" title="{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }}">{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }} 
							</a><br />Price {% if property['selling_price_eur'] | length > 1 %}{{ property['selling_price_eur'] | number_format(2, ".") }}€ {% else %} Upon Request {% endif %}
						</p>
					</li>
				</ul>
				{% endfor %}
				</div>
      </div>
		</div><!-- col-xs-6 col-sm-3 -->
	</div><!-- row -->
	<div class="clear10"></div><!--//clear-->

<script type="text/javascript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}

function getQuartersList()
{
  var area = $("#area").val() ;
  
  $.post( 
    "php/ajx_quarters.php", 
    { 'zq' : area },
    function( response ) {
      $('#quarter').html(response);
    })
    .done(function() {
    
    })
    .fail(function() {
    
    })
    .always(function() {
    
  });
 
}

</script><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}