{% extends "layouts/base_frontend.phtml" %}

{% block body %}
<body onLoad="pedirZonas()">	
    
	<div id="outer" class="clearfix">   
            
		{% include "blocks/main-menu.phtml" %}

<div class="container">
        	<div class="row">
  <div class="col-md-9">
		<div class="page-header"><h2>Investments</h2></div>
		<p>Over the last three years investment funds and especially property investments have seen a decline in prices and returns due to volatile markets and decreasing client interest. Many feel that property investments in particular are currently not a good option.&nbsp; The truth is, <strong>there has never been a better time to invest!</strong>*</p>
<p>In 2007 property investment had become the latest craze, and the real estate market became elevated to a global platform.&nbsp; Suddenly estate agents everywhere were offering &ldquo;property investments in an emerging market&rdquo;, and promising huge returns on investment.&nbsp; Such was the euphoria that many thousands of people made substantial investments into properties that most had not even seen, often located in diverse and untested locations such as Bulgaria, Croatia, Romania, Morocco and Hungary.&nbsp; Almost without exception, these markets have withered away and offer no hope of any kind of return on investment.&nbsp; In the vast majority of cases, these inexperienced and ill advised investors are licking their wounds and trying to reduce their losses to an acceptable level.&nbsp;</p>
<p>The underlying reasons for these poor investments have common themes:</p>
<ol>
  <li>Exhaustive research was not carried out on the proposed investment. </li>
  <li>Sharp sales tactics (poor advice) by unprofessional estate agent advisors.</li>
  <li>Investing at a time when the market had almost peaked. </li>
</ol>
<p>In simple terms, the fundamental rules governing property investment were ignored, and speculative over-production of new properties has resulted in the situation we find ourselves in today.</p>
<p>The real estate market is traditionally a cyclical one that experiences peaks and troughs, and often reflects the state of the economy as a whole. </p>
<p>During the &lsquo;boom&rsquo; years many investors wanted to take advantage of and capitalise on the rapidly rising property prices throughout Europe.&nbsp; While this tactic may prove beneficial to the short term investor, it is not the correct strategy for the more professional investor who looks for good returns in the long term.&nbsp; Ironically, by the time most people became aware of the property boom, it was well underway and prices had already risen substantially, whereas the more astute investors had entered the market when prices were lower and for them significant capital gains were eventually achieved.</p>
<p><strong>To summarise:</strong><br />
Property prices throughout Europe have dropped substantially but the market has now almost &ldquo;bottomed out&rdquo;, making it the ideal time to invest. However, investment opportunities must be selected carefully with the advice of experienced and reputable professionals within the industry.&nbsp;</p>
<p>The Kristina Szekely organization, with over 30 years respected experience in the real estate market and with a host of important contacts in the financial and business world, is in the unique position of being able to offer its clients some excellent investment opportunities.&nbsp; All have been thoroughly researched with due diligence and promise realistic returns and comply with all legal and licensing requirements.&nbsp; </p>
<p>We are careful to only associate ourselves with professional individuals and institutions that possess vast experience in their fields of expertise and have proven track records in creating impressive returns.</p>
<p>The information above aims to provide you with a general understanding of the investment proposal.&nbsp; We would be delighted to have one of our professionals contact you to discuss specifics and answer any questions you may have.</p>
<p>* See investment assessment page. <br />
  * Basic investment information to consider </p>
<p> Below is a graph showing the price movement of the top 100 shares in the Financial Times index over the last 23 years. </p>		<p class="center"><img src="images/media/grafica-investmentes-2010.jpg" alt="Basic investment to consider" width="467" height="204" class="shadow"></p>
		<p>Property prices, while not nearly as volatile as share prices will have followed the same sort of pattern experiencing similar price peaks and troughs.</p>
<p>If one had the benefit of hindsight, it&rsquo;s easy to see where investments should have been made (at the lowest points) and indeed where disposed of (at the high points).</p>
<p>Unfortunately human psychology is such that it seems unnatural to invest when prices are low because of the fear that they may decrease further. It seems more natural to buy when prices have risen substantially with the belief that they will continue to rise indefinitely, but by this time it is generally too late and the &lsquo;weight&rsquo; of increasing numbers of investors trying to get their share of expected profits causes the market to collapse. The 1929 Stock Market crash is the prime example of this sequence of events.</p>
<p><strong>What we believe is that property prices are at one of these lowest points where, if an investment or residential purchase is being considered or contemplated, now is an ideal time to buy.</strong></p>	</div><!--//col-md-9-->
	<div class="col-md-3">
		<? include(PATH."includes/sidebar.php"); ?>
		<? include(PATH."includes/bnr/bnr-1.php"); ?>
		<? include(PATH."includes/bnr/bnr-2.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}