{% extends "layouts/base_frontend.phtml" %}

{% block body %}
<body onLoad="pedirZonas()">	
    
	<div id="outer" class="clearfix">   
            
		{% include "blocks/main-menu.phtml" %}

<div class="container">
        	<div class="row">
  <div class="col-md-9">
		<div class="page-header"><h2>Kristina Szekely</h2></div>
		<img class="portrait-home" src="images/ks-portrait-home.jpg" width="125" height="102" alt="Kristina Szekely">
		<p>Welcome to the Kristina Szekely Sotheby's International Realty Real Estate Agency. Our company has been established for more than 35 years, and our name is synonymous with luxury real estate. We have offices in Marbella-Puerto Banus , Sotogrande and Madrid , plus associate offices in all European countries, the USA , United Arab Emirates , South America, and South Africa. We are highly regarded in our home country because of the personal style we adopt in the treatment of all our clients, no matter what kind of property they seek. From the perfect holiday home or substantial residential villa, to small or large investment opportunities, we are here to help.</p>
<p>We have over 40 professional long-term staff on hand, who are dedicated to making the purchase of a property abroad as simple and efficient as possible. We assist from beginning to end, including obtaining finance, through the legal process, decoration and furnishing, to renting and reselling. With the global reach of our associate offices we are able to offer commercial and residential property investment opportunities in countries as far apart as Brazil and Dubai , Turkey and South Afric , Canada and Bulgaria , Thailand and Morocco , U.S.A.,  India and since october of 2014 we are including China. Contact us with your own specific requirement and we will do our best to find the property you seek anywhere around the world.</p>	</div><!--//col-md-9-->
	<div class="col-md-3">		
		<? include(PATH."includes/sidebar-about.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}