{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
	<div class="col-md-9">
		<h2>Legal Advise</h2>
		<p>In compliance  with the established law 34/2002 of 11th July of the &ldquo;Sociedad de la  información y de Comercio Electrónico (LSSICE)&rdquo;, to follow is the  general information of the website www.ksmarbella.com &amp; www.kssir.com</p>
		<p><strong>KRISTINA SZEKELY SERVICES INTERNATIONAL REALTY (KS INVESTMENTS SA):</strong><br />
		C.I.F.: a 29415007<br />
		Inscribed in the Registry of Malaga<br />
		Volume: 1467, Book: 380, Page: 89, Section: 8, Sheet: MA-14382<br />
		Business Address: Muella Ribera, Local G39, CP: 29660, Puerto Banús, Marbella, Malaga.<br />
		Teléfono: (+34) 952 81 01 02<br />
		Fax: (+34) 952 81 77 88<br /></p>
		<h2>Terms and conditions.</h2>
		<p>The website offers  detailed information for website users, as well as informing about all  services provided through the web pages www.ksmarbella.com &amp;  www.kssir.com (properties available to purchase, rent and information  about our intermediary services for property sales…) KRISTINA SZEKELY SOTHEBY&rsquo;S INTERNATIONAL REALTY can  cease to offer the services mentioned in the website and will not be  held liable by the users of the webpage or third parties.</p>
		<p>&nbsp;</p>
	</div><!--//col-md-9-->
					
	<div class="col-md-3">
		<? include(PATH."includes/bnr/bnr-1.php"); ?>
		<? include(PATH."includes/bnr/bnr-2.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}