{% extends "layouts/base_frontend.phtml" %}

{% block body %}
<body onLoad="pedirZonas()">    
    
    <div id="outer" class="clearfix">   
            
        {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
    <div class="col-md-12">
	   <div class="page-header"><h1>Video</h1></div>
    </div>
    <div class="col-md-6">
        <div class="center"><iframe width="560" height="315" src="//www.youtube.com/embed/1JbGX3t_zHM" frameborder="0" allowfullscreen></iframe></div>
    </div>
    
    <div class="col-md-6">
        <div class="center"><iframe width="560" height="315" src="//www.youtube.com/embed/5qtPUPYU1ak" frameborder="0" allowfullscreen></iframe></div>
    </div>
    
    <hr />

    <div class="col-md-6">
        <div class="center"><iframe width="560" height="315" src="//www.youtube.com/embed/OjA-_MD_b4U" frameborder="0" allowfullscreen></iframe></div>
    </div>
    
    <div class="col-md-6">
        <div class="center"><iframe width="560" height="315" src="//www.youtube.com/embed/B6reTOlE8vg" frameborder="0" allowfullscreen></iframe></div>
    </div>
    
    <hr />
    
    <div class="col-md-6">
        <div class="center"><iframe width="560" height="315" src="http://www.youtube.com/embed/tAj7WtLE974" frameborder="0" allowfullscreen></iframe></div>
    </div>
    
    <div class="col-md-6">
        <div class="center"><iframe width="560" height="315" src="http://www.youtube.com/embed/G229WN7wW5E" frameborder="0" allowfullscreen></iframe></div>
    </div> 
</div><!--//row-->
<div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}