{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
 	<div class="col-md-9">
		<div class="page-header"><h2>Press</h2></div>

		<div class="post">
			<h2 class="entry-title"><a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary">Kristina Szekely's Diary</a></h2>
				<p class="postmeta">Social Scene</p>
				<div class="entry-content clearfix">
					<p><a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary"><img class="img-thumbnail img-responsive left" src="images/press/img-press-society_1.jpg" alt="Kristina Szekely's Diary" class="left shadow hovershadow" /></a>We began  the year slowly but the turning point came at the end of March <a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary">View more...</a></p>
				</div>
				<p class="postmeta"><a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary">Download</a></p>
		</div><!--//post-->


		<div class="post">
			<h2 class="entry-title"><a href="http://www.laopiniondemalaga.es/malaga/2012/04/22/marbella-tuviese-dias-sol-gente-iria-sitio/501271.html" target="_blank" title="&laquo;Si Marbella no tuviese tantos d&iacute;as de sol, la gente se ir&iacute;a a otro sitio&raquo;">&laquo;Si Marbella no tuviese tantos d&iacute;as de sol, la gente se ir&iacute;a a otro sitio&raquo;</a></h2>
				<p class="postmeta">Posted on 22-04-2012 - laopiniondemalaga.es</p>
				<div class="entry-content clearfix">
					<p><a href="images/press/ks-laopiniondemalaga-120422.jpg" rel="gallery2" title="Kristina Szekely, en su agencia en Puerto Ban&uacute;s.  P.S.
		"><img class="img-thumbnail img-responsive left" src="images/press/ks-laopiniondemalaga-120422th.jpg" alt="Kristina Szekely, en su agencia en Puerto Ban&uacute;s.  P.S.
		" class="left shadow hovershadow" /></a>
		            
						
						<b>P. S&Aacute;NCHEZ</b> Su nombre ya es una firma. Kristina Szekely es el nombre de la inmobiliaria y de su fundadora, una empresaria h&uacute;ngara de nacionalidad espa&ntilde;ola que empez&oacute; a hacerse un nombre en el mercado del lujo hasta convertirse en una instituci&oacute;n. Su filosof&iacute;a: &laquo;lo intento hacer siempre lo mejor posible, no s&oacute;lo por el cliente sino porque pienso que si lo hago muy bien, me recomendar&aacute;&raquo;.<br />
		<br />
		<strong>Los inmuebles que m&aacute;s vende: &laquo;Oscila entre 1,5 y 2 millones de euros. Eso no impide que tengamos casas en venta desde 160.000 euros&raquo;</strong><br />
		&laquo;Tenemos casas en Marbella en venta que necesitan ser reformadas por 325.000 euros. Pero tambi&eacute;n tenemos estudios maravillosos por 160.000 euros. Intentamos buscar las mejores propiedades, sean caras o baratas&raquo;, asegura. Ahora mismo, el producto m&aacute;s vendido asegura que son los inmuebles cuyo precio medio oscila entre 1,5 y 2 millones de euros.<br />
		<br />
		<strong>&Aacute;rea residencial : &laquo;Lo m&aacute;s importante para el futuro es comprar en una buena zona. En Marbella, destaca la milla de oro&raquo;</strong><br />
		En torno a los hoteles Marbella Club y Puente Romano se extiende una de las mejores zonas para comprar inmuebles, seg&uacute;n Szekely. Adem&aacute;s de ser una de las zonas m&aacute;s caras.<br />
		<br />
		<strong>El clima es la base. &laquo;La gente ya ni lo piensa pero si Marbella no tuviese tantos d&iacute;as de sol, los residentes se ir&iacute;an a otros sitios buscando sol&raquo;</strong><br />
		El clima de Marbella y el car&aacute;cter multicultural de la ciudad son dos caracter&iacute;sticas fundamentales para atraer a nuevos residentes en opini&oacute;n de la empresaria. Pero, opina que, sin duda, el clima es lo fundamental. &laquo;Somos el punto m&aacute;s sur de Europa&raquo;, recuerda. Es por tanto, la zona m&aacute;s cercana donde optan por instalar su hogar europeos acostumbrados a quitar en invierno &laquo;medio metro o dos metros de nieve&raquo; en la puerta.<br />
		<br />
		<strong>Hipotecas. &laquo;La gente con sueldo tiene dificultad en conseguir hipotecas y est&aacute;n alquilando en lugar de comprar. Pero el rico siempre tiene dinero y puede obtenerlo m&aacute;s f&aacute;cilmente porque el banco busca ese tipo de cliente. Por eso sigue el lujo&raquo;</strong><br />
		Es m&aacute;s f&aacute;cil conseguir una hipoteca para comprar una vivienda de dos millones que para adquirir otra de 200.000, explica. El sueldo del comprador de la vivienda m&aacute;s barata no es tan seguro para un banco como los avales que presenta un rico para adquirir la m&aacute;s cara.</p>
		             <p><a href="http://www.laopiniondemalaga.es/malaga/2012/04/22/marbella-tuviese-dias-sol-gente-iria-sitio/501271.html" target="_blank" title="&laquo;Si Marbella no tuviese tantos d&iacute;as de sol, la gente se ir&iacute;a a otro sitio&raquo;">View more...</a></p>
				</div>
		</div><!--//post-->

		<div class="post">
			<h2 class="entry-title"><a href="images/press/SurKS-08-04.jpg" rel="gallery1" title="La empresaria que puli&oacute; su espa&ntilde;ol con los crucigramas">La empresaria que puli&oacute; su espa&ntilde;ol con los crucigramas</a></h2>
				<p class="postmeta">Posted on 08-04-2012 - Diario Sur</p>
				<div class="entry-content clearfix">
					<p><a href="images/press/SurKS-08-04.jpg" rel="gallery1" title="La empresaria que puli&oacute; su espa&ntilde;ol con los crucigramas"><img class="img-thumbnail img-responsive left" src="images/press/SurKS-08-04-620.jpg" alt="La empresaria que puli&oacute; su espa&ntilde;ol con los crucigramas" class="left shadow hovershadow" /></a> <a href="images/press/SurKS-08-04.jpg" rel="gallery1" title="La empresaria que puli&oacute; su espa&ntilde;ol con los crucigramas">View more...</a></p>
				</div>
		</div><!--//post-->

		<div class="post">
			<h2 class="entry-title"><a href="images/press/arti_sur.pdf" target="_blank" title="La cicerone que se codea con el lujo">La cicerone que se codea con el lujo</a></h2>
				<p class="postmeta">Posted on 10-05-2009 - Diario Sur</p>
				<div class="entry-content clearfix">
					<p><a href="images/press/arti_sur.pdf" target="_blank" title="La cicerone que se codea con el lujo"><img class="img-thumbnail img-responsive left" src="images/press/img-press-arti_sur.jpg" alt="La cicerone que se codea con el lujo" class="left shadow hovershadow" /></a>Nac&iacute; en Budapest / Nunca digo mi edad, lo aprend&iacute; de mi madre / Llegu&eacute; a Marbella hace m&aacute;s de 30 a&ntilde;os / Vendo casas de hasta 20 millones de euros / Todav&iacute;a hay viviendas que me sorprenden / Llevo dos sombreros, el de espa&ntilde;ola y el de extranjera / Soy una persona inquieta / Hablo siete idiomas <a href="images/press/arti_sur.pdf" target="_blank" title="La cicerone que se codea con el lujo">View more...</a></p>
				</div>
				<p class="postmeta"><a href="images/press/arti_sur.pdf" target="_blank" title="La cicerone que se codea con el lujo">Download</a></p>
		</div><!--//post-->

		<div class="post">
			<h2 class="entry-title"><a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary">Kristina Szekely's Diary</a></h2>
				<p class="postmeta">Social Scene</p>
				<div class="entry-content clearfix">
					<p><a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary"><img class="img-thumbnail img-responsive left" src="images/press/img-press-society_1.jpg" alt="Kristina Szekely's Diary" class="left shadow hovershadow" /></a>We began  the year slowly but the turning point came at the end of March <a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary">View more...</a></p>
				</div>
				<p class="postmeta"><a href="images/press/society_1.pdf" target="_blank" title="Kristina Szekely's Diary">Download</a></p>
		</div><!--//post-->

	</div><!--//col-md-9-->
	<div class="col-md-3">	
		<? include(PATH."includes/sidebar.php"); ?>
		<? include(PATH."includes/bnr/bnr-1.php"); ?>
		<? include(PATH."includes/bnr/bnr-2.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}