{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
    
<div class="container">
        	
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>Property for Sale</h1>
    </div>
  <a name="frm"></a>
  <form name="formulario" action="property-rentals-search.php">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-7">
          <ul class="nav nav-pills">
            <li><a href="property-search.php" title="For sale"><span class="glyphicon glyphicon-ok"></span> For sale</a></li>
            <li class="active"><a href="property-rentals-search.php" title="For rent"><span class="glyphicon glyphicon-share-alt"></span> For rent</a></li>
            <li><a href="contact.html" title="International"><span class="glyphicon glyphicon-share-alt"></span> International</a></li>
          </ul>
          <div class="clear10rsp"></div>
        </div>
        <div class="col-md-5"> <!-- or Quick Search with Ref.-->
            <div class="form-group input-group no-margin">
              <input name="referencia" type="text" class="form-control" id="referencia" placeholder="or Quick Search with Ref...." />
              <span class="input-group-addon input-sm"><button class="btn btn-xs btn-link" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          
          <div class="col-md-4">
            <label>Area</label> <!-- Area -->
            <select id="area" name="area" title="Choose Area" onChange="getQuartersList()" class="form-control input-sm">        
              <optgroup label="Malaga"><option value='4' >  Benahavis</option><option value='9' >  Casares</option><option value='11' >  Estepona</option><option value='13' >  Gaucin</option><option value='16' >  Istan</option><option value='21' >  Malaga - Centre</option><option value='22' >  Manilva</option><option value='24' >  Marbella</option><option value='46' >  Marbella - Puerto Banus</option><option value='40' >  Marbella East</option><option value='41' >  Marbella Golden Mile</option><option value='29' >  Nueva Andalucia</option><option value='35' >  San Pedro de Alcantara</option></optgroup>            </select>
          </div>
          <div class="col-md-4"><!-- Add location-->
            <label for="cities5" class="labelleft">Sub area: </label>
            <select id="quarter" name="quarter" title="Choose sub area" class="form-control input-sm">
              <option></option>
                          </select>
          </div>
          <div class="col-md-4">
              <label for="cities1">Select a property type:</label>
                                    <select id="tipo"  name="tipo" title="Click to Select a property type" onChange="pedirDatos()" class="form-control input-sm">  
                    <option value="" selected="selected">Click to Select a property type</option>       
                                        <option value='1' >Apartments</option><option value='6' >Commercials</option><option value='4' >Country Properties</option><option value='3' >Houses</option><option value='8' >Other</option><option value='5' >Plots and Lands</option><option value='7' >Unique Buildings</option><option value='2' >Villas</option>                    <option value="1,6,4,3,8,5,7,2">All</option>
                  </select>
            </div>
        </div>

        <div class="clear10"></div>

        <div class="row">
          
          <div class="col-md-4">
            <label for="t">Beds:</label>
            <select id="dormitorios"  name="dormitorios" title="Beds" onChange="pedirDatos()" class="form-control input-sm">
              <option value="">All</option>
              <option value="0,1,2" >1 Price to 2</option>
              <option value="3,4" >3 Price to 4</option>
              <option value="5,6,7" >5 Price to 7</option>
              <option value="8,9,10" >8 Price to 10</option>
              <option value="11,12,13,14,15" >11 Price to 15</option>
              <option value="15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50" >15 +</option>
            </select>
          </div>
        </div>
                <div class="clear10rsp"></div>
      </div>

      <div class="col-md-4">
        <div class="alert alert-info text-center no-margin" role="alert">
          <div id="resultado" class="h4"><span id="countPropp"></span></div>
          <br />
          <button class="btn btn-primary" type="submit">View Properties <span class="glyphicon glyphicon-chevron-right"> </span></button>
            <!--<input type="hidden" name="pagina" value="1" />-->
            <input type="hidden" name="boxres" value="1" /> 
          <div class="clearfix"></div>
          <div class="btn btn-xs btn-link"><a href="property-for-sale.php">Clear Options <span class="glyphicon glyphicon-refresh"> </span></a></div>
        </div>
      </div>

    </div><!--//row-->
    
  </div><!--//panel-heading-->
  </div><!--//panel panel-default-->
  </form>
  </div>
</div>
<div class="clearfix"></div><!--//clear-->

<div class="clearfix"></div><!--//clear-->
<!-- RGH -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">
function getQuartersList()
{
  var area = $("#area").val() ;
  
  $.post( 
    "php/ajx_quarters_rent.php", 
    { 'zq' : area },
    function( response ) {
      $('#quarter').html(response);
    })
    .done(function( r) {
    //alert( "second success" );
    })
    .fail(function() {
    alert( "error" );
    })
    .always(function() {
    //alert( "finished" );
  });
  
  $( "#quarter" ).combobox();
 
}

function get_free_location_search()
{
  var free_search_text = $("#free_location_search").val();
  
  //alert( free_search_text );
  
  $.post( 
    "php/ajx_free_search.php", 
    { 'search_text' : free_search_text },
    function( response ) {
    //alert(response);
      $('.free_location_search_results').html(response).fadeIn('slow');
    })
    .done( function( r ) {
    //alert( "second success" );
    })
    .fail(function() {
    //alert( "error" );
    })
    .always(function() {
    //alert( "finished" );
  });
}

/*$(".free_location_search_results #matched_zones").on( 'click', function() {
 $( "#matched_zones").slideUp();
});*/
</script>
<!-- RGH --> 

<div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}