{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

    <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}

    <div class="container">
        	<div class="row">
	<div class="col-md-9">
    <div class="col-md-12">
		<div class="page-header">
			<h1>{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }}</h1>
		</div>
	</div>
	<div class="col-md-12">
      	<div class="tabbable-panel">
          	<div class="tabbable-line">
	            <ul class="nav nav-tabs ">
	          		<li class="active">
	                	<a href="#tab_default_2" data-toggle="tab">
	                	<strong>Gallery</strong> </a> <!-- Gallery --> 
	             	</li>
	            </ul>
	            <div class="tab-content">
	             
	          		<div class="tab-pane active" id="tab_default_2">
	                 

	                	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		                  <ol class="carousel-indicators">
		                    {% for image in property['images'] %}
		                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class=""></li>
		                    {% endfor %}
		                </ol>
                    	<div class="carousel-inner">
                    		{% for image in property['images'] %}
                          		<a class="item {% if loop.index0 == 0 %} active{% endif %}" data-title="Apartment for Sale in Puerto,  Marbella - Puerto Banus" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24092P_162410.jpg"><img title ="Apartment for Sale in Puerto,  Marbella - Puerto Banus" src="{{ image['url'] }}" alt="Apartment for Sale in Puerto,  Marbella - Puerto Banus" width="818" height="460" /></a>
                          	{% endfor %}                        
                      	</div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div><!-- /.carousel -->

	                           

	                </div>

	      		</div>
          	</div>
        </div>
    </div>
    
  <div class="clear10"></div>
  <div class="col-xs-4">
    <p>
      <strong>Sale Price:</strong> {{ property['selling_price_eur'] | number_format(2, '.') }}&euro; <br>      <!-- Reference-->
      <strong>Ref:</strong> {{ property['reference'] }}<br>       
      <!-- BedRoom-->
      <strong>Bedrooms:</strong> {{ property['nr_bedrooms'] }}<br>
      <!-- Bathrooms-->
      <strong>Bathrooms:</strong> {{ property['nr_bathrooms'] }}<br>
      <!-- On Suite Bath-->
       <strong>on Suite Baths:</strong> {{ property['nr_onsuite_bathrooms'] }}<br>       <strong>Toilets:</strong> {{ property['nr_toilet'] }}<br>    </p>
  </div>
    <div class="col-xs-4">
      <p>
        <!-- M2 Const-->
         <strong>Built M&sup2;:</strong> {{ property['mts_build'] }}<br>        <!-- M2 Plot-->
                <!-- M2 Terrace-->
                <!-- M2 Interior-->
                <!-- Pool-->
        <strong>Pool:</strong> {{ property['tr_pool']|default("No") }}<br>
        <!-- Garage-->
        <strong>Garage:</strong> {{ property['garage_name'] }}<br>
        <!-- Garden-->
      </p>
    </div>

    <div class="col-xs-4">
      <p>
        <!-- Type of Prop.-->
        <strong>Type:</strong> {{ property['property_type_name'] }}<br>
        <!-- Construction Year-->
                <!-- Garden -->
        <strong>Garden:</strong> {{ property['garden_name'] }}<br>
        <!-- Orientation-->
        <strong>Orientation:</strong> {{ property['tr_orientation'] }}<br>
        <!-- Floor-->
                <!-- Certificado energetico -->
        <strong>Energy Certificate in Process.</strong><br><?
          } elseif ($row['energy']=='A' || $row['energy']=='B' || $row['energy']=='C' || $row['energy']=='D' || $row['energy']=='E' || $row['energy']=='F' || $row['energy']=='G') {
          ?><strong>E.C. Level:</strong> <br>
          <strong>kWh/M&sup2; year:</strong> <br>
          <strong>KgCO2/M&sup2; year:</strong> <br>
                </p>
    </div>
  <div class="clear10"></div>
  
  <div class="col-md-12">
    <!-- About Title-->
        <h2>{{ property['descriptions'][0]['short_description'][1]['text'] | default("Title") }}</h2> <!-- About this  alg['tag83'].' '.  --> 
    <p>{{ property['descriptions'][0]['long_description'][1]['text'] | default("No description available") }}</p>
    <p><strong>Features:</strong> {%for option in property['options']  %} {{ option['title']|capitalize }} {% if not loop.last %} , {% endif %} {% endfor %}</p>
    
		</div>
</div><!--//col-md-9-->

<div class="col-md-3">
                
    <div class="page-header"><h2>Options</h2></div>
        <div class="col-md-5"><a href="#" title="Back" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-backward"> </span> Back</a></div>
        <div class="col-md-7"><a href="#" title="Redefine search" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-filter"> </span> Redefine search</a></div>
    <div class="clear10"></div>
                 
    <!-- Right Column -->                
    <div class="alert alert-warning">
      <h2>Information <span class="glyphicon glyphicon-comment right"> </span></h2>
       
        <form action="" method="post">
            <div class="form-group">
                <label class="control-label" for="name">Name*</label>
                <input type="text" name="name" id="name" required="" class="form-control input-sm" placeholder="Enter your name" />
                <span class="help-block" style="display: none;">Name is required</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email*</label>
                <input type="email" name="email" id="email" required="email" class="form-control input-sm" placeholder="Enter your email" />
            </div>
            <div class="form-group">
                <label><strong>Phone*</strong> <span id="error-phone" class="error hidden rounded"><small>Enter a valid Phone</small></span></label>
                <input type="text" size="45" name="phone" id="phone" required="" class="form-control input-sm" placeholder="Enter your phone" />
            </div>
            <div class="form-group">
                <label><strong>Message*</strong> <span id="error-message" class="error hidden rounded"><small>Message is required</small></span></label>
                <textarea name="message" id="message" cols="37" rows="6" class="form-control input-sm">Please, send me more information about this property.</textarea>
            </div>
            <div class="form-group">
              <label for="nlSubscribe"><input type="checkbox" name="nlSubscribe" id="nlSubscribe" value="1" checked="checked" /> Subscribe to Newsletter</label>
            </div>
            <div class="clear10"></div>
            <!--<div class="g-recaptcha" data-theme="light" data-sitekey="6Lf4Z0YUAAAAANU540hneHKuxxIkKQ20s0kMx9Ib" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->
            <div class="form-group">
                <input class="detpren" type="text" name="detpren" value="" />
                <button class="btn btn-primary" type="submit" data-loading-text="Sending...">Submit Form!  <span class="glyphicon glyphicon-send"> </span></button>
                <input name="MM_insert" type="hidden" value="fp"><input name="reference" type="hidden" value="KSSIR-24092P">
                <input name="client_ref" type="hidden" value="KSSIR-24092P"><input name="link" type="hidden" value="http://www.ksmarbella.com/properties/Apartment-_KSSIR-24092P.html">
            </div>
            <span class="glyphicon glyphicon-check"> </span> <small>*Name, email and message are required.</small>
        </form>

        <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
		<h3 class="widgettitle">Similar properties</h3>
    <p>
			<a href="http://www.ksmarbella.com/penthouse/for-sale/marbella-puerto-banus/las-mimosas/property_KSSIR-24037P.html" title="Penthouse
in Las Mimosas,  Marbella - Puerto Banus
 - 895.375&euro;">Penthouse
in Las Mimosas,  Marbella - Puerto Banus
 - 895.375&euro;</a>
			<br />
			<a href="http://www.ksmarbella.com/penthouse/for-sale/marbella-puerto-banus/las-mimosas/property_KSSIR-24037P.html" >
				<img class="img-thumbnail img-responsive" src="http://www.ksmarbella.com//php/timthumb_watermark.php?src=http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24037P_158943.jpg&h=160&w=300" height="160" width="300" title="Penthouse
in Las Mimosas,  Marbella - Puerto Banus
 - 895.375&euro;" 
			class="img-thumbnai" />
			</a>
			</p><p>
			<a href="http://www.ksmarbella.com/ground-floor-apartment/for-sale/marbella-puerto-banus/ventura-del-mar/property_KSSIR-24031P.html" title="Ground Floor Apartment
in Ventura del Mar,  Marbella - Puerto Banus
 - 995.000&euro;">Ground Floor Apartment
in Ventura del Mar,  Marbella - Puerto Banus
 - 995.000&euro;</a>
			<br />
			<a href="http://www.ksmarbella.com/ground-floor-apartment/for-sale/marbella-puerto-banus/ventura-del-mar/property_KSSIR-24031P.html" >
				<img class="img-thumbnail img-responsive" src="http://www.ksmarbella.com//php/timthumb_watermark.php?src=http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24031P_158785.jpg&h=160&w=300" height="160" width="300" title="Ground Floor Apartment
in Ventura del Mar,  Marbella - Puerto Banus
 - 995.000&euro;" 
			class="img-thumbnai" />
			</a>
			</p> <!-- Dream Homes -->
</div>	</div>
</div><!--//col-md-3-->
</div><!--//row-->
<script type="text/javascript" src="http://www.ksmarbella.com/js/ekko-lightbox.js"></script>
<script type="text/javascript">
      $(document).ready(function ($) {

        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            always_show_close: true
          });
        });

      });
    </script><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}