{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

<!-- adjusting the image ratio carrousel-->


    <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}

    <div class="container">
        	<div class="row">
	<div class="col-md-9">
    <div class="col-md-12">
		<div class="page-header">
			<h1>{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{property['subarea_name'] }}{% else %}{{ property['province_name'] }}{% endif %}, {{ property['city_name'] }}</h1>
		
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<div class="addthis_inline_share_toolbox_8ap3"></div>
		
		</div>
	</div>
	<div class="col-md-12">
      	<div class="tabbable-panel">
          	<div class="tabbable-line">
	            <ul class="nav nav-tabs ">
	          		<li class="active">
	                	<a href="#tab_default_2" data-toggle="tab">
	                	<strong>Gallery</strong> </a> <!-- Gallery --> 
	             	</li>
	            </ul>
	            <div class="tab-content">
	             
	          		<div class="tab-pane active" id="tab_default_2">
	                 

	                	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		                  <ol class="carousel-indicators">
		                    {% for image in property['images'] %}
		                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class=""></li>
		                    {% endfor %}
		                </ol>
                    	<div class="carousel-inner">
                    		{% for image in property['images'] %}
                          		<a class="item {% if loop.index0 == 0 %} active{% endif %}" data-title="Apartment for Sale in Puerto,  Marbella - Puerto Banus" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24092P_162410.jpg"><img title ="Apartment for Sale in Puerto,  Marbella - Puerto Banus" src="{{ image['url'] }}" alt="Apartment for Sale in Puerto,  Marbella - Puerto Banus" width="818" height="460" /></a>
                          	{% endfor %}                        
                      	</div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div><!-- /.carousel -->

	                           

	                </div>

	      		</div>
          	</div>
        </div>
    </div>
    
  <div class="clear10"></div>
  <div class="col-xs-4">
    <p>
      <strong>Sale Price:</strong> {{ property['selling_price_eur'] | number_format(2, '.') }}&euro; <br>      <!-- Reference-->
      <strong>Ref:</strong> {{ property['reference'] }}<br>       
      <!-- BedRoom-->
      <strong>Bedrooms:</strong> {{ property['nr_bedrooms'] }}<br>
      <!-- Bathrooms-->
      <strong>Bathrooms:</strong> {{ property['nr_bathrooms'] }}<br>
      <!-- On Suite Bath-->
       <strong>on Suite Baths:</strong> {{ property['nr_onsuite_bathrooms'] }}<br>       <strong>Toilets:</strong> {{ property['nr_toilet'] }}<br>    </p>
  </div>
    <div class="col-xs-4">
      <p>
        <!-- M2 Const-->
        <strong>Built M&sup2;:</strong> {{ property['mts_build'] }}<br>
        <strong>Plot M&sup2;:</strong> {{ property['mts_plot'] }}<br>
        <strong>Pool:</strong> {{ property['pool_name']|default("No") }}<br>
        <!-- Garage-->
        <strong>Garage:</strong> {{ property['garage_name'] }}<br>
        <!-- Garden-->
      </p>
    </div>

    <div class="col-xs-4">
      <p>
        <!-- Type of Prop.-->
        <strong>Type:</strong> {{ property['property_type_name'] }}<br>
        <!-- Construction Year-->
                <!-- Garden -->
        <strong>Garden:</strong> {{ property['garden_name'] }}<br>
        <!-- Orientation-->
        <strong>Orientation:</strong> {{ property['tr_orientation'] }}<br>
        <!-- Floor-->
                <!-- Certificado energetico -->
        <strong>Energy Certificate in Process.</strong><br><?
          } elseif ($row['energy']=='A' || $row['energy']=='B' || $row['energy']=='C' || $row['energy']=='D' || $row['energy']=='E' || $row['energy']=='F' || $row['energy']=='G') {
          ?><strong>E.C. Level:</strong> <br>
          <strong>kWh/M&sup2; year:</strong> <br>
          <strong>KgCO2/M&sup2; year:</strong> <br>
                </p>
    </div>
  <div class="clear10"></div>
  
  <div class="col-md-12">
    <!-- About Title-->
        <h2>
          {% if property['descriptions_localized']['short_description'] | length > 1 %}
            {{ property['descriptions_localized']['short_description'] }}
          {% else %}
            {{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{property['subarea_name'] }}{% else %}{{ property['province_name'] }}{% endif %}, {{ property['city_name'] }}
          {% endif %}
        </h2> <!-- About this  alg['tag83'].' '.  --> 
        
    <p>{{ property['descriptions_localized']['long_description'] | default("No description available") }}</p>
    <p><strong>Features:</strong> {%for option in property['options']  %} {{ option['title']|capitalize }} {% if not loop.last %} , {% endif %} {% endfor %}</p>
    
		</div>
</div><!--//col-md-9-->

<div class="col-md-3">
                
    <div class="page-header"><h2>Options</h2></div>
        <div class="col-md-5"><a href="#" title="Back" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-backward"> </span> Back</a></div>
        <div class="col-md-7"><a href="#" title="Redefine search" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-filter"> </span> Redefine search</a></div>
    <div class="clear10"></div>
                 
    <!-- Right Column -->                
    <div class="alert alert-warning">
      <h2>Information <span class="glyphicon glyphicon-comment right"> </span></h2>
     
     <!--start of script Form-->  
       <script type="text/javascript">
		(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
		'https://support.secure.globalroaming.com/scripts/track.js',
		function(e){ LiveAgent.createForm('4963740d', e); });
		</script>
     <!--End of script Form-->  

        <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
		<h3 class="widgettitle">Similar properties</h3>
    <p>
			<a href="http://www.ksmarbella.com/penthouse/for-sale/marbella-puerto-banus/las-mimosas/property_KSSIR-24037P.html" title="Penthouse
in Las Mimosas,  Marbella - Puerto Banus
 - 895.375&euro;">Penthouse
in Las Mimosas,  Marbella - Puerto Banus
 - 895.375&euro;</a>
			<br />
			<a href="http://www.ksmarbella.com/penthouse/for-sale/marbella-puerto-banus/las-mimosas/property_KSSIR-24037P.html" >
				<img class="img-thumbnail img-responsive" src="http://www.ksmarbella.com//php/timthumb_watermark.php?src=http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24037P_158943.jpg&h=160&w=300" height="160" width="300" title="Penthouse
in Las Mimosas,  Marbella - Puerto Banus
 - 895.375&euro;" 
			class="img-thumbnai" />
			</a>
			</p><p>
			<a href="http://www.ksmarbella.com/ground-floor-apartment/for-sale/marbella-puerto-banus/ventura-del-mar/property_KSSIR-24031P.html" title="Ground Floor Apartment
in Ventura del Mar,  Marbella - Puerto Banus
 - 995.000&euro;">Ground Floor Apartment
in Ventura del Mar,  Marbella - Puerto Banus
 - 995.000&euro;</a>
			<br />
			<a href="http://www.ksmarbella.com/ground-floor-apartment/for-sale/marbella-puerto-banus/ventura-del-mar/property_KSSIR-24031P.html" >
				<img class="img-thumbnail img-responsive" src="http://www.ksmarbella.com//php/timthumb_watermark.php?src=http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24031P_158785.jpg&h=160&w=300" height="160" width="300" title="Ground Floor Apartment
in Ventura del Mar,  Marbella - Puerto Banus
 - 995.000&euro;" 
			class="img-thumbnai" />
			</a>
			</p> <!-- Dream Homes -->
</div>	</div>
</div><!--//col-md-3-->
</div><!--//row-->
<script type="text/javascript" src="http://www.ksmarbella.com/js/ekko-lightbox.js"></script>
<script type="text/javascript">
      $(document).ready(function ($) {

        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            always_show_close: true
          });
        });

      });
    </script><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}
