{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}

<div class="container">
        	  <div class="clearfix"></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Property for Sale</h1>
      </div>
    <a name="frm"></a>
    <form name="formulario" action="http://www.ksmarbella.com/property-search.php">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-7">
            <ul class="nav nav-pills">
              <li class="active"><a href="property-search.php" title="For sale"><span class="glyphicon glyphicon-ok"></span> For sale</a></li>
              <li><a href="property-rentals-search.php" title="For rent"><span class="glyphicon glyphicon-share-alt"></span> For rent</a></li>
              <li><a href="contact.html" title="International"><span class="glyphicon glyphicon-share-alt"></span> International</a></li>
            </ul>
            <div class="clear10rsp"></div>
          </div>
          <div class="col-md-5"> <!-- or Quick Search with Ref.-->
              <div class="form-group input-group no-margin">
                <input name="referencia" type="text" class="form-control" id="referencia" placeholder="or Quick Search with Ref...." />
                <span class="input-group-addon input-sm"><button class="btn btn-xs btn-link" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
              </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <label>Area</label> <!-- Area -->
              <select id="area" name="area" title="Choose Area" onChange="getQuartersList()" class="form-control input-sm">        
                <optgroup label="Malaga"><option value='1' >  Alhaurin de la Torre</option><option value='2' >  Alhaurin el Grande</option><option value='42' >  Alora</option><option value='338' >  Antequera</option><option value='340' >  Ardales</option><option value='4' >  Benahavis</option><option value='5' >  Benalmadena</option><option value='9' >  Casares</option><option value='10' >  Coin</option><option value='273' >  Cortes de la Frontera</option><option value='11' >  Estepona</option><option value='12' >  Fuengirola</option><option value='13' >  Gaucin</option><option value='16' >  Istan</option><option value='21' >  Malaga - Centre</option><option value='74151' >  Malaga - Este</option><option value='22' >  Manilva</option><option value='24' >  Marbella</option><option value='46' >  Marbella - Puerto Banus</option><option value='40' >  Marbella East</option><option value='41' >  Marbella Golden Mile</option><option value='25' >  Mijas</option><option value='26' >  Mijas Costa</option><option value='27' >  Monda</option><option value='372' >  Nerja</option><option value='29' >  Nueva Andalucia</option><option value='28' >  Ojen</option><option value='373' >  Periana</option><option value='31' >  Rincon de la Victoria</option><option value='32' >  Ronda</option><option value='35' >  San Pedro de Alcantara</option><option value='328' >  Tolox</option><option value='39' >  Torremolinos</option><option value='284' >  Velez Malaga</option></optgroup><optgroup label="Almeria"><option value='195' >  Almeria</option></optgroup><optgroup label="Granada"><option value='172' >  Granada</option><option value='521' >  La Herradura</option><option value='67054' >  Loja</option></optgroup><optgroup label="Sevilla"><option value='70234' >  Alcala de Guadaira</option><option value='70246' >  Bollullos de la Mitacion</option><option value='70251' >  Camas</option><option value='70255' >  Carmona</option><option value='70260' >  Castilleja de la Cuesta</option><option value='70270' >  Dos Hermanas</option><option value='70271' >  Écija</option><option value='70272' >  Espartinas</option><option value='70279' >  Gines</option><option value='70292' >  Mairena del Aljarafe</option><option value='70297' >  Montellano</option><option value='70316' >  Salteras</option><option value='70319' >  Sanlucar la Mayor</option><option value='70322' >  Seville - Centre</option><option value='74205' >  Seville - East</option><option value='74209' >  Seville - La Palmera - Los Bermejales</option><option value='74210' >  Seville - Los Remedios</option><option value='74211' >  Seville - Macarena</option><option value='74201' >  Seville - Nervion</option><option value='74214' >  Seville - Prado de San Sebastian - Felipe II</option><option value='74216' >  Seville - Santa Clara</option><option value='74202' >  Seville - Triana</option><option value='70324' >  Tomares</option><option value='70326' >  Utrera</option><option value='70327' >  Valencina de la Concepcion</option></optgroup><optgroup label="Cordoba"><option value='66339' >  Adamuz</option><option value='14959' >  Cordoba</option></optgroup><optgroup label="Cantabria"><option value='69945' >  Comillas</option><option value='69950' >  Guriezo</option><option value='69996' >  Santander</option></optgroup>              </select>
            </div>
            <div class="col-md-4"><!-- Add location-->
              <label for="cities5" class="labelleft">Sub area: </label>
              <select id="quarter" name="quarter" title="Choose sub area" class="form-control input-sm">
                <option></option>
                              </select>
            </div>
            <div class="col-md-4">
                <label for="cities1">Select a property type:</label>
                                        <select id="tipo"  name="tipo" title="Click to Select a property type" onChange="pedirDatos()" class="form-control input-sm">  
                      <option value="" selected="selected">Click to Select a property type</option>       
                                            <option value='1' >Apartments</option><option value='6' >Commercials</option><option value='4' >Country Properties</option><option value='3' >Houses</option><option value='8' >Other</option><option value='5' >Plots and Lands</option><option value='7' >Unique Buildings</option><option value='2' >Villas</option>                      <option value="1,6,4,3,8,5,7,2">All</option>
                    </select>
              </div>
          </div>

          <div class="clear10"></div>

          <div class="row">
            <div class="col-md-4">  
              <label class="price">Price Price from:</label>         
              <select name="preciolistadesde" id="preciolistadesde" onChange="pedirDatos()" class="form-control input-sm">
                <option value="1" selected="selected">No Minimum</option>            
                <option value="200000" >200.000 &euro;</option>
                <option value="400000" >400.000 &euro;</option>
                <option value="500000" >500.000 &euro;</option>
                <option value="600000" >600.000 &euro;</option>
                <option value="700000" >700.000 &euro;</option>
                <option value="1000000" >1.000.000 &euro;</option>
                <option value="1500000" >1.500.000 &euro;</option>
                <option value="3000000" >3.000.000 &euro;</option>
                <option value="5000000" >5.000.000 &euro;</option>
                <option value="1000000000" >No Minimum</option>
              </select>
            </div>
            
            <div class="col-md-4">
              <label class="price">Price Price to:</label>
              <select name="preciolistahasta" id="preciolistahasta"  onChange="pedirDatos()" class="form-control input-sm">
                <option value="1">No Minimum</option>
                <option value="200000" >200.000 &euro;</option>
                <option value="400000" >400.000 &euro;</option>
                <option value="500000" >500.000 &euro;</option>
                <option value="600000" >600.000 &euro;</option>
                <option value="700000" >700.000 &euro;</option>
                <option value="1000000" >1.000.000 &euro;</option>
                <option value="1500000" >1.500.000 &euro;</option>
                <option value="3000000" >3.000.000 &euro;</option>
                <option value="1000000000" selected="">No Maximum</option>
              </select>           
            </div>

            <div class="col-md-4">
              <label for="t">Beds:</label>
              <select id="dormitorios"  name="dormitorios" title="Beds" onChange="pedirDatos()" class="form-control input-sm">
                <option value="">All</option>
                <option value="0,1,2" >1 Price to 2</option>
                <option value="3,4" >3 Price to 4</option>
                <option value="5,6,7" >5 Price to 7</option>
                <option value="8,9,10" >8 Price to 10</option>
                <option value="11,12,13,14,15" >11 Price to 15</option>
                <option value="15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50" >15 +</option>
              </select>
            </div>
          </div>
          <div class="clear10rsp"></div>
        </div>

        <div class="col-md-4">
          <div class="alert alert-info text-center no-margin" role="alert">
            <div id="resultado" class="h4"><span id="countPropp"></span></div>
            <span class="rightBlueTxt">Property Matches</span><br />
            <button class="btn btn-primary" type="submit">View Properties <span class="glyphicon glyphicon-chevron-right"> </span></button>
              <!--<input type="hidden" name="pagina" value="1" />-->
              <input type="hidden" name="boxres" value="1" /> 
            <div class="clearfix"></div>
            <div class="btn btn-xs btn-link"><a href="property-for-sale.php">Clear Options <span class="glyphicon glyphicon-refresh"> </span></a></div>
          </div>
        </div>

      </div><!--//row-->
      
    </div><!--//panel-heading-->
    </div><!--//panel panel-default-->
    </form>
    </div>
  </div>
  <div class="clearfix"></div><!--//clear-->

  
<div class="clearfix"></div><!--//clear-->
<!-- RGH -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">
  function getQuartersList()
  {
    var area = $("#area").val() ;
    
    $.post( 
      "php/ajx_quarters.php", 
      { 'zq' : area },
      function( response ) {
        $('#quarter').html(response);
      })
      .done(function( r) {
      //alert( "second success" );
      })
      .fail(function() {
      alert( "error" );
      })
      .always(function() {
      //alert( "finished" );
    });
    
    $( "#quarter" ).combobox();
   
  }
  
  function get_free_location_search()
  {
    var free_search_text = $("#free_location_search").val();
    
    //alert( free_search_text );
    
    $.post( 
      "http://www.ksmarbella.com/php/ajx_free_search.php", 
      { 'search_text' : free_search_text },
      function( response ) {
      //alert(response);
        $('.free_location_search_results').html(response).fadeIn('slow');
      })
      .done( function( r ) {
      //alert( "second success" );
      })
      .fail(function() {
      //alert( "error" );
      })
      .always(function() {
      //alert( "finished" );
    });
  }
  
  /*$(".free_location_search_results #matched_zones").on( 'click', function() {
   $( "#matched_zones").slideUp();
  });*/
</script>
<!-- RGH --><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}