{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
	<div class="col-md-12">
		<div class="page-header"><h2>Property Opportunities</h2></div>
	</div>
	<div class="col-md-12">
		<ul class="clean plist">
			<li class="col-sm-3">
				<div class="panel panel-default">
						<p>									
							<a href="duplex-penthouse/for-sale/san-pedro-de-alcantara/guadalmina-alta/property_KSSIR-22001P.html" title="Duplex Penthouse for Sale in Guadalmina Alta,  San Pedro de Alcantara"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/20f4b8a3-3701-445b-ba64-fce9fca08a5e.jpg" width="290" height="140" alt="Duplex Penthouse for Sale in Guadalmina Alta,  San Pedro de Alcantara" class="img-responsive" /></a>
						<div class="panel-body">
						</p>
						<h3>
						<a href="duplex-penthouse/for-sale/san-pedro-de-alcantara/guadalmina-alta/property_KSSIR-22001P.html" title="Duplex Penthouse for Sale in Guadalmina Alta,  San Pedro de Alcantara">
						Duplex Penthouse for Sale in Guadalmina Alta,  San Pedro de Alcantara </a></h3>
							<p>Price: 309.000&euro; </p>
								<ul>
									<li>Plot M&sup2;: 0</li>
				                    <li>Built M&sup2;: 180</li>
				                    <li>Bedrooms:</strong> 4</li>
								</ul>
								<a href="duplex-penthouse/for-sale/san-pedro-de-alcantara/guadalmina-alta/property_KSSIR-22001P.html" title="Duplex Penthouse for Sale in Guadalmina Alta,  San Pedro de Alcantara" class="btn btn-xs btn-default right">View details</a>
							</div>
						</div>
			</li><!--//grid_3-->
										<li class="col-sm-3">
						<div class="panel panel-default">
							<p>									<a href="duplex-penthouse/for-sale-and-rent/marbella-puerto-banus/villa-marina/property_KSSIR-22170P.html" title="Duplex Penthouse for Sale and Rent in Villa Marina,  Marbella - Puerto Banus"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-22170P_102069.jpg" width="290" height="140" alt="Duplex Penthouse for Sale and Rent in Villa Marina,  Marbella - Puerto Banus" class="img-responsive" /></a>
																	<div class="panel-body">
							</p>
							<h3>
							<a href="duplex-penthouse/for-sale-and-rent/marbella-puerto-banus/villa-marina/property_KSSIR-22170P.html" title="Duplex Penthouse for Sale and Rent in Villa Marina,  Marbella - Puerto Banus">
							Duplex Penthouse for Sale and Rent in Villa Marina,  Marbella - Puerto Banus </a></h3>
								<p>Price: 550.000&euro; </p>
									<ul>
										<li>Plot M&sup2;: 0</li>
					                    <li>Built M&sup2;: 156</li>
					                    <li>Bedrooms:</strong> 3</li>
									</ul>
									<a href="duplex-penthouse/for-sale-and-rent/marbella-puerto-banus/villa-marina/property_KSSIR-22170P.html" title="Duplex Penthouse for Sale and Rent in Villa Marina,  Marbella - Puerto Banus" class="btn btn-xs btn-default right">View details</a>
								</div>
							</div>
						</li><!--//grid_3-->
										<li class="col-sm-3">
						<div class="panel panel-default">
							<p>									<a href="ground-floor-apartment/for-sale/marbella-puerto-banus/property_KSSIR-21112P.html" title="Ground Floor Apartment for Sale in Marbella - Puerto Banus"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-21112P_95159.jpg" width="290" height="140" alt="Ground Floor Apartment for Sale in Marbella - Puerto Banus" class="img-responsive" /></a>
																	<div class="panel-body">
							</p>
							<h3>
							<a href="ground-floor-apartment/for-sale/marbella-puerto-banus/property_KSSIR-21112P.html" title="Ground Floor Apartment for Sale in Marbella - Puerto Banus">
							Ground Floor Apartment for Sale in Marbella - Puerto Banus </a></h3>
								<p>Price: 375.000&euro; </p>
									<ul>
										<li>Plot M&sup2;: 0</li>
					                    <li>Built M&sup2;: 128</li>
					                    <li>Bedrooms:</strong> 3</li>
									</ul>
									<a href="ground-floor-apartment/for-sale/marbella-puerto-banus/property_KSSIR-21112P.html" title="Ground Floor Apartment for Sale in Marbella - Puerto Banus" class="btn btn-xs btn-default right">View details</a>
								</div>
							</div>
						</li><!--//grid_3-->
										<li class="col-sm-3">
						<div class="panel panel-default">
							<p>									<a href="villa/for-sale/malaga-este/property_KSSIR-23245P.html" title="Villa for Sale in Malaga - Este"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-23245P_137084.jpg" width="290" height="140" alt="Villa for Sale in Malaga - Este" class="img-responsive" /></a>
																	<div class="panel-body">
							</p>
							<h3>
							<a href="villa/for-sale/malaga-este/property_KSSIR-23245P.html" title="Villa for Sale in Malaga - Este">
							Villa for Sale in Malaga - Este </a></h3>
								<p>Price: 1.010.000&euro; </p>
									<ul>
										<li>Plot M&sup2;: 1700</li>
					                    <li>Built M&sup2;: 500</li>
					                    <li>Bedrooms:</strong> 4</li>
									</ul>
									<a href="villa/for-sale/malaga-este/property_KSSIR-23245P.html" title="Villa for Sale in Malaga - Este" class="btn btn-xs btn-default right">View details</a>
								</div>
							</div>
						</li><!--//grid_3-->
										<li class="col-sm-3">
						<div class="panel panel-default">
							<p>									<a href="apartment/for-sale/nueva-andalucia/la-alzambra/property_KSSIR-21009P.html" title="Apartment for Sale in La Alzambra,  Nueva Andalucia"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-21009P_92068.jpg" width="290" height="140" alt="Apartment for Sale in La Alzambra,  Nueva Andalucia" class="img-responsive" /></a>
																	<div class="panel-body">
							</p>
							<h3>
							<a href="apartment/for-sale/nueva-andalucia/la-alzambra/property_KSSIR-21009P.html" title="Apartment for Sale in La Alzambra,  Nueva Andalucia">
							Apartment for Sale in La Alzambra,  Nueva Andalucia </a></h3>
								<p>Price: 420.000&euro; </p>
									<ul>
										<li>Plot M&sup2;: 0</li>
					                    <li>Built M&sup2;: 72</li>
					                    <li>Bedrooms:</strong> 1</li>
									</ul>
									<a href="apartment/for-sale/nueva-andalucia/la-alzambra/property_KSSIR-21009P.html" title="Apartment for Sale in La Alzambra,  Nueva Andalucia" class="btn btn-xs btn-default right">View details</a>
								</div>
							</div>
						</li><!--//grid_3-->
										<li class="col-sm-3">
						<div class="panel panel-default">
							<p>									<a href="ground-floor-apartment/for-sale/marbella-east/monteros-palm-beach/property_KSSIR-21144P.html" title="Ground Floor Apartment for Sale in Monteros Palm Beach,  Marbella East"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-21144P_95911.jpg" width="290" height="140" alt="Ground Floor Apartment for Sale in Monteros Palm Beach,  Marbella East" class="img-responsive" /></a>
																	<div class="panel-body">
							</p>
							<h3>
							<a href="ground-floor-apartment/for-sale/marbella-east/monteros-palm-beach/property_KSSIR-21144P.html" title="Ground Floor Apartment for Sale in Monteros Palm Beach,  Marbella East">
							Ground Floor Apartment for Sale in Monteros Palm Beach,  Marbella East </a></h3>
								<p>Price: 375.000&euro; </p>
									<ul>
										<li>Plot M&sup2;: 0</li>
					                    <li>Built M&sup2;: 88</li>
					                    <li>Bedrooms:</strong> 1</li>
									</ul>
									<a href="ground-floor-apartment/for-sale/marbella-east/monteros-palm-beach/property_KSSIR-21144P.html" title="Ground Floor Apartment for Sale in Monteros Palm Beach,  Marbella East" class="btn btn-xs btn-default right">View details</a>
								</div>
							</div>
						</li><!--//grid_3-->
										<li class="col-sm-3">
						<div class="panel panel-default">
							<p>									<a href="villa/for-sale/marbella-east/property_KSSIR-21115P.html" title="Villa for Sale in Marbella East"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-21115P_95231.jpg" width="290" height="140" alt="Villa for Sale in Marbella East" class="img-responsive" /></a>
																	<div class="panel-body">
							</p>
							<h3>
							<a href="villa/for-sale/marbella-east/property_KSSIR-21115P.html" title="Villa for Sale in Marbella East">
							Villa for Sale in Marbella East </a></h3>
								<p>Price: 495.000&euro; </p>
									<ul>
										<li>Plot M&sup2;: 528</li>
					                    <li>Built M&sup2;: 106</li>
					                    <li>Bedrooms:</strong> 3</li>
									</ul>
									<a href="villa/for-sale/marbella-east/property_KSSIR-21115P.html" title="Villa for Sale in Marbella East" class="btn btn-xs btn-default right">View details</a>
								</div>
							</div>
						</li><!--//grid_3-->
										<li class="col-sm-3">
						<div class="panel panel-default">
							<p>									<a href="http://www.ksmadrid.com/apartment/for-sale/madrid-salamanca/castellana/property_KSSIR-21136P.html" title="Apartment for Sale in Castellana,  Madrid - Salamanca"><img src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-21136P_95651.jpg" width="290" height="140" alt="Apartment for Sale in Castellana,  Madrid - Salamanca" class="img-responsive" /></a>
																	<div class="panel-body">
							</p>
							<h3>
							<a href="http://www.ksmadrid.com/apartment/for-sale/madrid-salamanca/castellana/property_KSSIR-21136P.html" title="Apartment for Sale in Castellana,  Madrid - Salamanca">
							Apartment for Sale in Castellana,  Madrid - Salamanca </a></h3>
								<p>Price: 700.000&euro; </p>
									<ul>
										<li>Plot M&sup2;: 0</li>
					                    <li>Built M&sup2;: 90</li>
					                    <li>Bedrooms:</strong> 2</li>
									</ul>
									<a href="http://www.ksmadrid.com/apartment/for-sale/madrid-salamanca/castellana/property_KSSIR-21136P.html" title="Apartment for Sale in Castellana,  Madrid - Salamanca" class="btn btn-xs btn-default right">View details</a>
								</div>
							</div>
						</li><!--//grid_3-->
									</ul>
			</div><!--//col-md-12-->
		</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}