{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
	<div class="col-md-9">
    <div class="col-md-12"><div class="page-header"><h1>Villa for Sale in Sierra Blanca,  Marbella Golden Mile</h1></div></div>
        <div class="col-md-12">
      <div class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                                          <li class="active">
                <a href="#tab_default_2" data-toggle="tab">
                <strong>Gallery</strong> </a> <!-- Gallery --> 
              </li>
                                                      </ul>
            <div class="tab-content">
            

                
                              <div class="tab-pane active" id="tab_default_2">
                  
                  <div class="col-md-12 slider-pt">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class=""></li><li data-target="#myCarousel" data-slide-to="1" class=""></li><li data-target="#myCarousel" data-slide-to="2" class=""></li><li data-target="#myCarousel" data-slide-to="3" class=""></li><li data-target="#myCarousel" data-slide-to="4" class=""></li><li data-target="#myCarousel" data-slide-to="5" class=""></li><li data-target="#myCarousel" data-slide-to="6" class=""></li><li data-target="#myCarousel" data-slide-to="7" class=""></li><li data-target="#myCarousel" data-slide-to="8" class=""></li><li data-target="#myCarousel" data-slide-to="9" class=""></li><li data-target="#myCarousel" data-slide-to="10" class=""></li><li data-target="#myCarousel" data-slide-to="11" class=""></li><li data-target="#myCarousel" data-slide-to="12" class=""></li><li data-target="#myCarousel" data-slide-to="13" class=""></li><li data-target="#myCarousel" data-slide-to="14" class=""></li><li data-target="#myCarousel" data-slide-to="15" class=""></li><li data-target="#myCarousel" data-slide-to="16" class=""></li><li data-target="#myCarousel" data-slide-to="17" class=""></li><li data-target="#myCarousel" data-slide-to="18" class=""></li><li data-target="#myCarousel" data-slide-to="19" class=""></li><li data-target="#myCarousel" data-slide-to="20" class=""></li><li data-target="#myCarousel" data-slide-to="21" class=""></li><li data-target="#myCarousel" data-slide-to="22" class=""></li><li data-target="#myCarousel" data-slide-to="23" class=""></li><li data-target="#myCarousel" data-slide-to="24" class=""></li><li data-target="#myCarousel" data-slide-to="25" class=""></li><li data-target="#myCarousel" data-slide-to="26" class=""></li><li data-target="#myCarousel" data-slide-to="27" class=""></li><li data-target="#myCarousel" data-slide-to="28" class=""></li><li data-target="#myCarousel" data-slide-to="29" class=""></li><li data-target="#myCarousel" data-slide-to="30" class=""></li><li data-target="#myCarousel" data-slide-to="31" class=""></li>                      </ol>
                          <div class="carousel-inner">
                          <a class="item active" data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/012b74f2-3f95-45c1-84b2-6bde0ba3f93e.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/012b74f2-3f95-45c1-84b2-6bde0ba3f93e.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/89593d76-59a0-4022-8478-117bf1e7be56.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/89593d76-59a0-4022-8478-117bf1e7be56.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/8822e0ba-5f54-472d-9d7c-318f58b55c74.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/8822e0ba-5f54-472d-9d7c-318f58b55c74.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/1f80c282-78bb-42cd-985b-9c52a7f11163.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/1f80c282-78bb-42cd-985b-9c52a7f11163.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/2038b3bb-348e-4942-b226-931ff3d65242.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/2038b3bb-348e-4942-b226-931ff3d65242.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/01fa1517-296f-4d4e-ade9-e408412a5630.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/01fa1517-296f-4d4e-ade9-e408412a5630.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/ff9b8462-2a82-4bcf-992b-dacce96aee87.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/ff9b8462-2a82-4bcf-992b-dacce96aee87.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/d824c940-545d-417e-9213-3c929e94b969.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/d824c940-545d-417e-9213-3c929e94b969.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/dd02f8ac-ab02-4598-9516-5e836aaac1c0.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/dd02f8ac-ab02-4598-9516-5e836aaac1c0.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/adfcde66-bca8-413f-988f-df02e21a1c7d.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/adfcde66-bca8-413f-988f-df02e21a1c7d.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/e017cc76-c982-4253-8877-e3d20e4cad78.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/e017cc76-c982-4253-8877-e3d20e4cad78.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/55d9b6a6-6561-47ca-a770-cc2e2dd63648.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/55d9b6a6-6561-47ca-a770-cc2e2dd63648.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/c3197518-8dee-4282-b8a9-6a8e43e8eb05.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/c3197518-8dee-4282-b8a9-6a8e43e8eb05.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/42238a7e-8b78-4db7-ae10-3cfc28ce5879.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/42238a7e-8b78-4db7-ae10-3cfc28ce5879.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/970df3d3-c986-4559-9af3-60306a3f7ca6.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/970df3d3-c986-4559-9af3-60306a3f7ca6.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/70eb9dcb-e0ee-444d-96d7-47591cbd8695.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/70eb9dcb-e0ee-444d-96d7-47591cbd8695.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/0b5bb317-1c1d-40a9-ac8e-efd03ffd8e26.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/0b5bb317-1c1d-40a9-ac8e-efd03ffd8e26.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/bf1d7be3-5382-49c0-9151-d6772d480951.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/bf1d7be3-5382-49c0-9151-d6772d480951.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/d9d3d60d-3751-414d-9cb5-d1f10fd5c7ed.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/d9d3d60d-3751-414d-9cb5-d1f10fd5c7ed.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/2cf7d229-395a-48ec-9dd4-97e9537d9370.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/2cf7d229-395a-48ec-9dd4-97e9537d9370.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/f1b19a71-8953-467c-b1f1-0fa9b892135b.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/f1b19a71-8953-467c-b1f1-0fa9b892135b.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/045264b0-db2a-4c88-bba4-62e0254800af.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/045264b0-db2a-4c88-bba4-62e0254800af.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/21b6d0ca-796e-468d-ba62-5929650cea21.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/21b6d0ca-796e-468d-ba62-5929650cea21.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/37e96e91-5f07-4bad-9846-cd92f6e9e65b.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/37e96e91-5f07-4bad-9846-cd92f6e9e65b.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/87c4b543-fcec-4eec-87f4-3ff007c822e6.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/87c4b543-fcec-4eec-87f4-3ff007c822e6.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/34316edd-e6f9-48d4-8b3f-26e744654fa9.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/34316edd-e6f9-48d4-8b3f-26e744654fa9.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/a51fac74-1e25-4f6d-85ea-6b54dc99860b.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/a51fac74-1e25-4f6d-85ea-6b54dc99860b.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/763b6790-52c9-47ee-8cae-24abcf5b78ce.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/763b6790-52c9-47ee-8cae-24abcf5b78ce.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/dc68e6c0-7d40-494d-bd34-7607a33d3c7b.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/dc68e6c0-7d40-494d-bd34-7607a33d3c7b.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/f1655001-0a4b-4711-96ae-c1ef667c4f69.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/f1655001-0a4b-4711-96ae-c1ef667c4f69.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/9cf85355-633b-46d1-b15b-7d8ebe749c8c.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/9cf85355-633b-46d1-b15b-7d8ebe749c8c.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a><a class="item " data-title="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/181c2227-98ae-4480-a2e1-fd38f5e2c616.jpg"><img title ="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" src="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/181c2227-98ae-4480-a2e1-fd38f5e2c616.jpg" alt="Villa for Sale in Sierra Blanca,  Marbella Golden Mile" width="818" height="460" /></a>                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                      </div><!-- /.carousel -->

                     </div><!--//col-md-12-->  
                    <div class="clearfix"></div>       

                </div>

                                                      </div>
          </div>
        </div>
        </div>
    
  <div class="clear10"></div>
  <div class="col-xs-4">
    <p>
      <strong>Sale Price:</strong> 3.700.000&euro; <br>      <!-- Reference-->
      <strong>Ref:</strong> KSSIR-20500P<br>       
      <!-- BedRoom-->
      <strong>Bedrooms:</strong> 4<br>
      <!-- Bathrooms-->
      <strong>Bathrooms:</strong> 3<br>
      <!-- On Suite Bath-->
       <strong>on Suite Baths:</strong> 3<br>       <strong>Toilets:</strong> 1<br>    </p>
  </div>
    <div class="col-xs-4">
      <p>
        <!-- M2 Const-->
         <strong>Built M&sup2;:</strong> 986<br>        <!-- M2 Plot-->
         <strong>Plot M&sup2;:</strong> 2132 <br>        <!-- M2 Terrace-->
         <strong>M&sup2; terrace:</strong> 86<br>        <!-- M2 Interior-->
                <!-- Pool-->
        <strong>Pool:</strong> Private<br>
        <!-- Garage-->
        <strong>Garage:</strong> Private<br>
        <!-- Garden-->
      </p>
    </div>

    <div class="col-xs-4">
      <p>
        <!-- Type of Prop.-->
        <strong>Type:</strong> Villas<br>
        <!-- Construction Year-->
         <strong>Construction year:</strong> 1998<br>        <!-- Garden -->
        <strong>Garden:</strong> Private<br>
        <!-- Orientation-->
        <strong>Orientation:</strong> S<br>
        <!-- Floor-->
                <!-- Certificado energetico -->
              </p>
    </div>
  <div class="clear10"></div>
  
  <div class="col-md-12">
    <!-- About Title-->
        <h2>Elegant south facing villa designed in beautiful classical Mediterranean style and situated in the prestigious neighbourhood of Sierra Blanca estate</h2> <!-- About this  alg['tag83'].' '.  --> 
    <p>Elegant south facing villa designed in beautiful classical Mediterranean style and situated in the prestigious neighbourhood of Sierra Blanca estate, within only a few minute’s driving distance from the town centre and the popular Puerto Banus.  Built over two main levels plus a basement, which provides an integral garage for 8 cars and gym. The pedestrian access to the villa is through a lovely courtyard with fountain leading to the entrance hall with sliding doors to the spacious and elegant lounge with fireplace, large covered terrace, separate dining room, TV room with fireplace, office which can be converted in one bedroom and has separate entrance, guest cloakroom, large fully fitted kitchen with informal dining area and laundry room. The upper floor comprises a large master bedroom with bathroom, shower, sauna, relaxing room, built-in wardrobes and a large terrace with beautiful views to the sea and garden, this level has two further bedrooms with bathrooms en-suite, and there is also a one other room which is acceded from one of the suites.  Finally the property has a beautiful mature garden with a magnificent swimming pool and lovely gazebo.
</p>
    <p><strong>Features:</strong> 
      Air conditioning, Underfloor heating (throughout), Fully fitted kitchen, 24h Service, Alarm, Automatic irrigation system, Cellar, Covered terrace, Electric blinds, Fireplace, Fitted wardrobes, Glass Doors, Guest toilet, Gym, Heated pool, Internet - Wifi, Marble floors, Private terrace, Satellite TV, Sauna, Telephone, Uncovered terrace, Water tank, Dining room, Guest room, Laundry room, Living room, Storage room, Doorman, Double glazing, Security entrance, Security service 24h, Security shutters, Video entrance, Garden view, Mountain view, Pool view, Sea view, Amenities near, Near Golf, Near Sea/Beach, Mountainside, Transport near.    </p>
    
		</div>
</div><!--//col-md-9-->

<div class="col-md-3">
                
    <div class="page-header"><h2>Options</h2></div>
        <div class="col-md-5"><a href="#" title="Back" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-backward"> </span> Back</a></div>
        <div class="col-md-7"><a href="#" title="Redefine search" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-filter"> </span> Redefine search</a></div>
    <div class="clear10"></div>
                 
    <!-- Right Column -->                
    <div class="alert alert-warning">
      <h2>Information <span class="glyphicon glyphicon-comment right"> </span></h2>
       
        <form action="" method="post">
            <div class="form-group">
                <label class="control-label" for="name">Name*</label>
                <input type="text" name="name" id="name" required="" class="form-control input-sm" placeholder="Enter your name" />
                <span class="help-block" style="display: none;">Name is required</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email*</label>
                <input type="email" name="email" id="email" required="email" class="form-control input-sm" placeholder="Enter your email" />
            </div>
            <div class="form-group">
                <label><strong>Phone*</strong> <span id="error-phone" class="error hidden rounded"><small>Enter a valid Phone</small></span></label>
                <input type="text" size="45" name="phone" id="phone" required="" class="form-control input-sm" placeholder="Enter your phone" />
            </div>
            <div class="form-group">
                <label><strong>Message*</strong> <span id="error-message" class="error hidden rounded"><small>Message is required</small></span></label>
                <textarea name="message" id="message" cols="37" rows="6" class="form-control input-sm">Please, send me more information about this property.</textarea>
            </div>
            <div class="form-group">
              <label for="nlSubscribe"><input type="checkbox" name="nlSubscribe" id="nlSubscribe" value="1" checked="checked" /> Subscribe to Newsletter</label>
            </div>
            <div class="clear10"></div>
            <!--<div class="g-recaptcha" data-theme="light" data-sitekey="6Lf4Z0YUAAAAANU540hneHKuxxIkKQ20s0kMx9Ib" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->
            <div class="form-group">
                <input class="detpren" type="text" name="detpren" value="" />
                <button class="btn btn-primary" type="submit" data-loading-text="Sending...">Submit Form!  <span class="glyphicon glyphicon-send"> </span></button>
                <input name="MM_insert" type="hidden" value="fp"><input name="reference" type="hidden" value="KSSIR-20500P">
                <input name="client_ref" type="hidden" value="KSSIR-20500P-G5ZEYY"><input name="link" type="hidden" value="http://www.ksmarbella.com/properties/Villa-marbella-golden-mile-sierra-blanca_KSSIR-20500P.html">
            </div>
            <span class="glyphicon glyphicon-check"> </span> <small>*Name, email and message are required.</small>
        </form>

        <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
		<h3 class="widgettitle">Similar properties</h3>
    <p>
			<a href="http://www.ksmarbella.com/villa/for-sale/marbella-golden-mile/sierra-blanca/property_KSSIR-24817P.html" title="Villa
in Sierra Blanca,  Marbella Golden Mile
 - 3.950.000&euro;">Villa
in Sierra Blanca,  Marbella Golden Mile
 - 3.950.000&euro;</a>
			<br />
			<a href="http://www.ksmarbella.com/villa/for-sale/marbella-golden-mile/sierra-blanca/property_KSSIR-24817P.html" >
				<img class="img-thumbnail img-responsive" src="http://www.ksmarbella.com//php/timthumb_watermark.php?src=http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/4a017b93-942c-4778-af5d-19e4ed089698.jpg&h=160&w=300" height="160" width="300" title="Villa
in Sierra Blanca,  Marbella Golden Mile
 - 3.950.000&euro;" 
			class="img-thumbnai" />
			</a>
			</p><p>
			<a href="http://www.ksmarbella.com/villa/for-sale/marbella-golden-mile/altos-de-puente-romano/property_KSSIR-23314P.html" title="Villa
in Altos de Puente Romano,  Marbella Golden Mile
 - 4.200.000&euro;">Villa
in Altos de Puente Romano,  Marbella Golden Mile
 - 4.200.000&euro;</a>
			<br />
			<a href="http://www.ksmarbella.com/villa/for-sale/marbella-golden-mile/altos-de-puente-romano/property_KSSIR-23314P.html" >
				<img class="img-thumbnail img-responsive" src="http://www.ksmarbella.com//php/timthumb_watermark.php?src=http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-23314P_139918.jpg&h=160&w=300" height="160" width="300" title="Villa
in Altos de Puente Romano,  Marbella Golden Mile
 - 4.200.000&euro;" 
			class="img-thumbnai" />
			</a>
			</p> <!-- Dream Homes -->
</div>	</div>
</div><!--//col-md-3-->
</div><!--//row-->
<script type="text/javascript" src="http://www.ksmarbella.com/js/ekko-lightbox.js"></script>
<script type="text/javascript">
      $(document).ready(function ($) {

        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            always_show_close: true
          });
        });

      });
    </script><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}