{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

<!-- adjusting the image ratio carrousel-->


    <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}

    <div class="container">
       <div class="row">
		<div class="col-sm-12">
			<div class="page-header" style="margin-top:0px; margin-bottom:2px;">
				
			 <h2 style="margin-top:0px;">{% if property['descriptions_localized']['short_description'] | length > 1 %}
            {{ property['descriptions_localized']['short_description'] }}
          {% else %}
            {{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{property['subarea_name'] }}{% else %}{{ property['province_name'] }}{% endif %}, {{ property['city_name'] }}
          {% endif %}
          </h2>
          </div>
	</div>
	<div class="col-sm-6">
          	
          	
          	<div class="tabbable-line">
	            <ul class="nav nav-tabs ">
	          		<li class="active">
	                	<a href="#tab_default_2" data-toggle="tab">
	                	<strong>Gallery</strong> </a> <!-- Gallery --> 
	             	</li>
	            </ul>
	            <div class="tab-content">
	             	<div class="tab-pane active" id="tab_default_2">
	                 	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		                 	 <ol class="carousel-indicators">
		                    {% for image in property['images'] %}
		                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class=""></li>
		                    {% endfor %}
		                	</ol>
                    		<div class="carousel-inner">
                    		{% for image in property['images'] %}
                          		<a class="item {% if loop.index0 == 0 %} active{% endif %}" data-title="Apartment for Sale in Puerto,  Marbella - Puerto Banus" data-gallery="multiimages" data-toggle="lightbox" href="http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-24092P_162410.jpg"><img title ="Apartment for Sale in Puerto,  Marbella - Puerto Banus" src="{{ image['url'] }}" alt="Apartment for Sale in Puerto,  Marbella - Puerto Banus" width="818" height="460" /></a>
                          	{% endfor %}                        
                      		</div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    	</div><!-- /.carousel -->
                    	
					</div>
	      		</div>
        	</div>
        	
        	 <div class="col-sm-12" style="padding:0px;">
					
						  <h3 style="border-bottom: 1px solid #ddd; padding-bottom:8px;">More Informations</h3>
						
							  	<table style="border-bottom: 1px solid #ddd; padding-top:3px; padding-bottom:8px;">
							<tr>
							<td><p style="padding-top:3px;">You are Welcome!<br />Please feel free to visit our new offices, we are open every single day in Marbella, Sotogrande, Gibraltar & Seville. Tel: {{ GLOBAL_SITE_VARS.ACTIVE_AGENCY.tel }}
							</p>
							</td>
							<td>
							<center>
							<img class="img-responsive" style="max-width:90%; margin-top:1px; margin-bottom:15px; box-shadow:0px 0px 3px 0px #777;" src="{{ PUBLIC_URI }}/images/kssir_call2.jpg" alt="kssir_call_center.">
							</center>
							</td>
							</tr>
							<tr>
							<td>
							Chat live with our representative or leave us a message.
              				</td>
              				<td>
              				
              <center>
        
         							<script type="text/javascript">
(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'https://kssir.ladesk.com/scripts/track.js',
function(e){ LiveAgent.createButton('54a7607c', e); });
</script>
</center>
 </td>
 </tr>
 </table>
              <div>

</div>
</div>
    </div>
      <div class="col-sm-6">
    <!-- About Title-->
        <div style="border-bottom: 1px solid #ddd; padding-top:8px; padding-bottom:9px;">
       	 <h3>
         Description
        </h3> <!-- About this  alg['tag83'].' '.  --> 
       	</div>
        
        <div style="border-bottom: 1px solid #ddd;  padding-top:8px;">
    <p>{{ property['descriptions_localized']['long_description']|raw | default("No description available") }}</p>
        </div>
        
          <div class="col-sm-5" style="padding: 8px 0px 0px 0px;">
    <p>
      {% if property['selling_price_eur'] > 0 %}
                                    <strong>Price:</strong> {{ property['selling_price_eur'] | number_format(2, '.') }}&euro;<br />
                                       {% endif %}
                                       {% if property['rental_price_eur'] > 0 %}
       								 	<strong>Rental Price {{ property['rental_price_comment']}}:</strong> {{ property['rental_price_eur'] | number_format(2, '.') }}&euro;<br>      <!-- Reference-->
       									{% endif %}
       									 {% if property['rental_price_eur_long'] > 0 %}
       								 	<strong>Rental Price {{ property['rental_price_comment_long']}}:</strong> {{ property['rental_price_eur_long'] | number_format(2, '.') }}&euro;<br>      <!-- Reference-->
       									{% endif %}
       <strong>Ref:</strong> {{ property['reference'] }}<br>       
      <!-- BedRoom-->
      <strong>Bedrooms:</strong> {{ property['nr_bedrooms'] }}<br>
      <!-- Bathrooms-->
      <strong>Bathrooms:</strong> {{ property['nr_bathrooms'] }}<br>
      <!-- On Suite Bath-->
       <strong>on Suite Baths:</strong> {{ property['nr_onsuite_bathrooms'] }}<br>       <strong>Toilets:</strong> {{ property['nr_toilet'] }}<br> </p>
  </div>
    <div class="col-sm-3" style="padding: 8px 0px 0px 0px;">
      <p>
        <!-- M2 Const-->
        <strong>Built M&sup2;:</strong> {{ property['mts_build'] }}<br>
        <strong>Plot M&sup2;:</strong> {{ property['mts_plot'] }}<br>
        <strong>Pool:</strong> {{ property['pool_name']|default("No") }}<br>
        <!-- Garage-->
        <strong>Garage:</strong> {{ property['garage_name'] }}<br>
        <!-- Garden-->
      </p>
    </div>

    <div class="col-sm-4" style="padding: 8px 0px 0px 0px;">
      <p>
        <!-- Type of Prop.-->
        <strong>Type:</strong> {{ property['property_type_name'] }}<br>
        <!-- Construction Year-->
                <!-- Garden -->
        <strong>Garden:</strong> {{ property['garden_name'] }}<br>
        <!-- Orientation-->
        <strong>Orientation:</strong> {{ property['tr_orientation'] }}<br>
        <!-- Floor-->
                <!-- Certificado energetico -->
        <strong>Energy Certificate in Process.</strong><br><?
          } elseif ($row['energy']=='A' || $row['energy']=='B' || $row['energy']=='C' || $row['energy']=='D' || $row['energy']=='E' || $row['energy']=='F' || $row['energy']=='G') {
          ?><strong>E.C. Level:</strong> <br>
          <strong>kWh/M&sup2; year:</strong> <br>
          <strong>KgCO2/M&sup2; year:</strong> <br>
                </p>
    </div>
		 <div class="row">
		 <div class="col-sm-12">
		<p style="border-top: 1px solid #ddd; padding-top:4px;"><strong>Features:</strong> {%for option in property['options']  %} {{ option['title']|capitalize }} {% if not loop.last %} , {% endif %} {% endfor %}
    	</p>
    	<p style="border-top: 1px solid #ddd; padding-top:2px;">
    	<a href="#" style="padding-left:0px;" title="Back" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-backward"> </span> Back</a>
 - <a href="#" title="Redefine search" onclick="location.href=document.referrer;" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-filter"> </span> Redefine search</a>
    	</p>
    	 </div>
    	 </div>
       </div>

		</div>
</div>
</div>
<div class="container">
 		<div class="row">
				<div class="col-sm-12">
			   
         {% if similar_properties|length > 0 %}
     			  <div>
     			    <h2>Options</h2>
     			  </div>	
				    <h3 class="widgettitle">Similar properties</h3>
    			  {% for property in similar_properties %}
                <div class="col-sm-6">
      			      <p>
      			          <a href="{{ property['seo_slug_uri'] }}" title="{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }} {% if property['selling_price_eur'] > 0 %} {{ property['selling_price_eur'] }}&euro; {% endif %}">{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }} {% if property['selling_price_eur'] > 0 %} {{ property['selling_price_eur'] }}&euro; {% endif %}</a>
      			          <br />
      			          <a href="{{ property['seo_slug_uri'] }}" >
      				        <img class="img-thumbnail img-responsive" data-src="https://www.ksmarbella.com//php/timthumb_watermark.php?src=http://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-KSSIR-24037P.jpg&h=160&w=300"
      				        data-old-src="https://inmoba.cloudimg.io/resizenp/1920x1080/q90.fo1/_as3big_/KSSIR/KSSIR-KSSIR-24037P.jpg&h=160&w=300"  src="{{ property['images'][0]['url'] }}" height="160" width="300" title="{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }} {{ property['selling_price_eur'] }}&euro;" class="img-thumbnai" />
      			          </a>
      			      </p>
    			      </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
		</div>
<script type="text/javascript" src="http://www.ksmarbella.com/js/ekko-lightbox.js"></script>
<script type="text/javascript">
      $(document).ready(function ($) {

        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            always_show_close: true
          });
        });

      });
    </script><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}
