{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

    <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
    
        <div class="container">
        	
          <div class="clearfix"></div>
          <div class="row">
              <div class="col-sm-12">
                
                  <div class="page-header">
                    <h1>{{ title }}</h1>
                  </div>

                  <a name="frm"></a>
                  <form name="formulario" action="{{ path_for('property-search') }}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-7">
                                    <ul class="nav nav-pills">
                                        <li {% if rqst_params.rent_or_sale == "sale" %} class="active" {% endif %}><a data-form-submit-trigger="1" data-form-input="rent_or_sale"  data-form-input-val="sale" href="{{ path_for('property-search') }}?rent_or_sale=sale" title="For sale"><span class="glyphicon glyphicon-ok"></span> For sale</a></li>
                                        <li {% if rqst_params.rent_or_sale == "rent" %} class="active" {% endif %}><a data-form-submit-trigger="1" data-form-input="rent_or_sale" data-form-input-val="rent" href="{{ path_for('property-search') }}?rent_or_sale=rent" title="For rent"><span class="glyphicon glyphicon-share-alt"></span> For rent</a></li>
                                        <li><a href="{{ path_for('contact') }}" title="International"><span class="glyphicon glyphicon-share-alt"></span> International</a></li>
                                    </ul>
                                    <div class="clear10rsp"></div>
                                </div>
                                <div class="col-md-5"> <!-- or Quick Search with Ref.-->
                                    <div class="form-group input-group no-margin">
                                        <input name="reference" type="text" class="form-control" id="referencia" placeholder="or Quick Search with Ref...." {% if rqst_params.reference %} value="{{ rqst_params.reference }}" {% endif %} />
                                        <span class="input-group-addon input-sm"><button class="btn btn-xs btn-link" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
                                        
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    
                        <input type="hidden" name="rent_or_sale" value="{{ rqst_params.rent_or_sale }}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                  
                                        <div class="col-md-4">
                                            <label>Area</label> <!-- Area -->
                                            <select id="area" name="city" title="Choose Area" data-onChange="getQuartersList()" data-sub-area-select-trigger class="form-control input-sm">
                                                <option value="">All</option>
                                                {% for province in provinces_cities %}
                                                    {% if province['rel_cities']|length > 0 %}
                                                    <optgroup label="{{ province['name'] }}">
                                                        {% for city in province['rel_cities'] %}
                                                            <option 
                                                                {% if rqst_params['city'] == city['id'] %}
                                                                  selected
                                                                {% endif %}
                                                            value="{{ city['id'] }}">{{ city['name'] }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4"><!-- Add location-->
                                            <label for="cities5" class="labelleft">Sub area: </label>
                                            <select id="quarter" name="subarea" title="Choose sub area" data-sub-area-select class="form-control input-sm" data-selected="{{rqst_params.subarea}}">
                                                  <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="cities1">Select a property type:</label>
                                            <select id="tipo"  name="property_type" title="Click to Select a property type" onChange="pedirDatos()" class="form-control input-sm">  
                                                <option value='0'>Click to select a property type</option>
                                                {% for property_type in property_types  %}
                                                  <option
                                                      {% if rqst_params.property_type == property_type['id'] %}
                                                        selected
                                                      {% endif %}
                                                     value='{{property_type['id']}}' >{{ property_type['name']}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="clear10"></div>

                                    <div class="row">
                                        
                                        {% if rqst_params.rent_or_sale == 'sale' %}
                                            <div class="col-md-4">
                                                <label for="t">Price From:</label>
                                                <select name="price_min" id="preciolistadesde" class="form-control">
                                                  <option value="1">No Minimum</option>
                                                  <option {% if rqst_params.price_min == '200000' %} selected {% endif %}  value="200000">200.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '400000' %} selected {% endif %} value="400000">400.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '500000' %} selected {% endif %} value="500000">500.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '600000' %} selected {% endif %} value="600000">600.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '700000' %} selected {% endif %} value="700000">700.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '1000000' %} selected {% endif %} value="1000000">1.000.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '1500000' %} selected {% endif %} value="1500000">1.500.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '3000000' %} selected {% endif %} value="3000000">3.000.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '5000000' %} selected {% endif %} value="5000000">5.000.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '10000000' %} selected {% endif %} value="10000000">10.000.000 &euro;</option>
                                                  <option {% if rqst_params.price_min == '0' %} selected {% endif %} value="0">No Minimum</option>
                                                </select>
                                            </div>
                                        {% endif %}

                                        {% if rqst_params.rent_or_sale == 'sale' %}
                                          <div class="col-md-4">
                                              <label for="t">Price To:</label>
                                              <select name="price_max" id="preciolistahasta" class="form-control">
                                                <option value="1">No Minimum</option>
                                                <option 
                                                  {% if rqst_params.price_max == '200000' %} selected {% endif %}
                                                value="200000">200.000 &euro;</option>
                                                <option
                                                  {% if rqst_params.price_max == '400000' %} selected {% endif %}
                                                 value="400000">400.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '500000' %} selected {% endif %}
                                                value="500000">500.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '600000' %} selected {% endif %}
                                                value="600000">600.000 &euro;</option>
                                                <option
                                                  {% if rqst_params.price_max == '700000' %} selected {% endif %}
                                                  value="700000">700.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '1000000' %} selected {% endif %}
                                                value="1000000">1.000.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '1500000' %} selected {% endif %}
                                                value="1500000">1.500.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '3000000' %} selected {% endif %}
                                                value="3000000">3.000.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '5000000' %} selected {% endif %}
                                                value="5000000">5.000.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '10000000' %} selected {% endif %}
                                                value="10000000">10.000.000 &euro;</option>
                                                <option 
                                                  {% if rqst_params.price_max == '0' %} selected {% endif %}
                                                value="0" selected="selected">No Maximum</option>
                                              </select>
                                          </div>
                                        {% endif %}

                                        <div class="col-md-4">
                                            <label for="t">Beds:</label>
                                            <select id="dormitorios"  name="rooms" title="Beds" onChange="pedirDatos()" class="form-control input-sm">
                                                <option value="">All</option>
                                                <option
                                                  {% if rqst_params.rooms == '1,2' %} selected {% endif %}
                                                 value="1,2" >1 Bed to 2</option>
                                                <option 
                                                  {% if rqst_params.rooms == '3,4' %} selected {% endif %}
                                                value="3,4" >3 Beds to 4</option>
                                                <option 
                                                  {% if rqst_params.rooms == '5,7' %} selected {% endif %}
                                                value="5,7" >5 Beds to 7</option>
                                                <option 
                                                  {% if rqst_params.rooms == '8,10' %} selected {% endif %}
                                                value="8,10" >8 Beds to 10</option>
                                                <option 
                                                  {% if rqst_params.rooms == '11,15' %} selected {% endif %}
                                                value="11,15" >11 Beds to 15</option>
                                                <option 
                                                  {% if rqst_params.rooms == '15' %} selected {% endif %}
                                                value="15" >15 +</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clear10rsp"></div>
                                </div>

                                <div class="col-md-4">
                                    <div class="alert alert-info text-center no-margin" role="alert">
                                        <div id="resultado" class="h4"><span id="countPropp"></span></div>
                                        <br />
                                        <input type="submit" class="btn btn-primary" href=" path_for('property-single', {'id': 'all'}) " value="View Properties"> <span class="glyphicon glyphicon-chevron-right"></span>
                                        <!--<input type="hidden" name="pagina" value="1" />-->
                                        <input type="hidden" name="boxres" value="1" /> 
                                        <div class="clearfix"></div>
                                        <div class="btn btn-xs btn-link">
                                            <a data-btn="clear" href="property-for-sale.php">Clear Options <span class="glyphicon glyphicon-refresh"> </span></a>
                                        </div>
                                    </div>
                                </div>

                            </div><!--//row-->
            
                        </div><!--//panel-heading-->
                    </div><!--//panel panel-default-->
                  </form>
              </div>

              <div class="col-md-12">
                  
                  <ul class="clean plist">
                      {% for property in properties %}
                      <li class="col-sm-3">
                        <div class="panel panel-default">
                            <p> 
                                <a href="{{ property['seo_slug_uri'] }}"><img src="{{ property['images'][0]['url'] }}"title="{{ property['property_type_name'] }} for sale in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }} {% else %} {{ property['province_name'] }} {% endif %}, {{ property['city_name'] }}" width="290" height="140" alt="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }}" class="img-responsive" /></a>
                            </p>
                            <div class="panel-body">
                                <h3>
                                    <a href="{{ property['seo_slug_uri'] }}" title="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }}">{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }} </a>
                                </h3>
                                <p>Price: {{ property['selling_price_eur'] | number_format(2, '.') }}&euro; </p>
                                <ul>
                                    <li>Plot M&sup2;: {{ property['mts_plot'] }}</li>
                                    <li>Built M&sup2;: {{ property['mts_build'] }}</li>
                                    <li>Bedrooms:</strong> {{ property['nr_bedrooms'] }}</li>
                                </ul>
                                <a href="{{ property['seo_slug_uri'] }}" title="{{ property['property_type_name'] }} {{ property['sale_or_rent_text'] }} in {% if property['subarea_name'] | length > 1 %}{{ property['subarea_name'] }},{% endif %} {{ property['city_name'] }}" class="btn btn-xs btn-default right">View details</a>
                            </div><!-- //.panel-body -->
                        </div><!-- //.panel panel-default -->
                      </li><!--//grid_3-->
                      {% endfor %}
                  </ul>    
              </div>

              <div class="col-md-12">
                  {% if pagination.needed %}
                      <ul class="pagination">
                          {% set range = 10 %}
                          {% set upperlimit = pagination.skip+pagination.limit %}
                          {% if lowerlimit < 0 %}
                              {% set lowerlimit = 0 %}
                              {% set upperlimit = 10 %}
                          {% else %}
                            {% set lowerlimit = pagination.skip//pagination.limit %}
                            {% set upperlimit = lowerlimit+range %}
                          {% endif %}
                          {% if upperlimit > pagination.lastpage %}
                              {% set upperlimit = pagination.lastpage-pagination.limit %}
                          {% endif %}
                          {% if lowerlimit + pagination.limit > pagination.lastpage %}
                              {% set lowerlimit = pagination.lastpage-pagination.limit %}
                              {% set upperlimit = pagination.lastpage %}
                          {% endif %}
                          {% for i in lowerlimit..upperlimit %}
                              {% if i >= 0 %}
                                  {% if loop.first %}
                                      <li><a class="{% if i == pagination.page %}active{% endif %} item" href="{{ path_for('property-search') }}?page=1{{ pagination.rqst_params_string }}"><<</a></li>
                                  {% endif %}
                                  {% if loop.index+pagination.limit < pagination.lastpage %}
                                      <li {% if i == pagination.page %} class="active" {% endif %}><a class="{% if i == pagination.page %}active{% endif %} item" href="{{ path_for('property-search') }}?page={{ i }}{{ pagination.rqst_params_string }}">{{ i+1 }}</a></li>
                                  {% endif %}
                                  {% if loop.last and not loop.index < pagination.lastpage-pagination.limit %}
                                      <li><a class="{% if loop.index == pagination.lastpage %}active{% endif %} item" href="{{ path_for('property-search') }}?page={{pagination.lastpage-pagination.limit}}{{ pagination.rqst_params_string }}">>></a></li>
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                      </ul>
                  {% endif %}
              </div>

              <div class="clearfix"></div><!--//clear-->

              <div class="clearfix"></div><!--//clear-->
          </div><!-- //.row -->
          <!-- RGH -->
          <script src="//code.jquery.com/jquery-1.10.2.js"></script>

          <script type="text/javascript">
              $('[data-form-submit-trigger="1"]').on("click", function(e) {
                  e.preventDefault();
                  var $form = $(this).parents('form');
                  $($form).find('input[name="'+ $(this).data("form-input") +'"]').val($(this).data('form-input-val'));
                  $($form).submit();
              });
          function getQuartersList()
          {
            var area = $("#area").val() ;
            
            $.post( 
              "php/ajx_quarters_rent.php", 
              { 'zq' : area },
              function( response ) {
                $('#quarter').html(response);
              })
              .done(function( r) {
              //alert( "second success" );
              })
              .fail(function() {
              alert( "error" );
              })
              .always(function() {
              //alert( "finished" );
            });
            
            $( "#quarter" ).combobox();
           
          }

          function get_free_location_search()
          {
            var free_search_text = $("#free_location_search").val();
            
            //alert( free_search_text );
            
            $.post( 
              "php/ajx_free_search.php", 
              { 'search_text' : free_search_text },
              function( response ) {
              //alert(response);
                $('.free_location_search_results').html(response).fadeIn('slow');
              })
              .done( function( r ) {
              //alert( "second success" );
              })
              .fail(function() {
              //alert( "error" );
              })
              .always(function() {
              //alert( "finished" );
            });
          }

          $("[data-btn='clear']").on('click', function(e) {
              e.preventDefault();
              console.log("Clearing form");
              $(this).parents('form')
                .find(':input')
                  .not(':button, :submit, :reset, :hidden')
                  .val('')
                  .prop('checked', false)
                  .prop('selected', false);

          })

          /*$(".free_location_search_results #matched_zones").on( 'click', function() {
           $( "#matched_zones").slideUp();
          });*/
          </script>
          <!-- RGH --> 

    <div class="clear"></div><!--//clear-->
    </div><!-- //container -->
</div><!-- //#outer -->

{% endblock %}