{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
  <div class="col-md-9">
          <div class="page-header"><h1>Renting Submit</h1></div>
            <p><p>Please send us details of your property</p></p>
            <form class="standard" action="sendForms.html" method="post">
              <div class="field">
                <label><strong>Name*</strong> <span id="error-name" class="error hidden rounded"><small>Name is required</small></span></label>
                <input type="text" size="45" name="name" id="name" class="form-control" />
              </div>
              <div class="field">
                <label><strong>Email*</strong> <span id="error-email" class="error hidden rounded"><small>Enter a valid email address</small></span></label>
                <input type="text" size="45" name="email" id="email" class="form-control" />
              </div>
              <div class="field">
                <label><strong>Phone</strong></label>
                <input type="text" size="45" name="phone" id="phone" class="form-control" />
              </div>
              <div class="field">
                <label><strong>Message*</strong> <span id="error-message" class="error hidden rounded"><small>Message is required</small></span></label>
                <textarea name="message" id="message" cols="50" rows="6" class="form-control"></textarea>
              </div>
              <div class="field">
                  <button class="btn btn-lg btn-primary" type="submit" name="submit" id="submit">Submit Form!</button>
                <input name="MM_insert" type="hidden" value="rs">
              </div>
              <p><small>*Name, email and message are required..</small></p>
            </form>
  </div><!--//col-md-9-->
  <div class="col-md-3">
                <? include(PATH."includes/sidebar-services-renting.php"); ?>
  </div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->
{% endblock %}