{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

	<div id="outer" class="clearfix">   
            
		{% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
	<div class="col-md-9">
		<div class="page-header"><h2>Rentals - Services</h2></div>
		<p>We have served the property rentals market in Marbella for over 15 years and have built up a solid reputation that is second to none. Our choice of properties for rent in Marbella is one of the finest on the Costa del Sol with anything from apartments in gated communities to luxury beachside or frontline golf villas Speak with one of our property negotiators to assist you in finding exactly what you need.</p>
<p> From Marbella to Sotogrande we are proud to have four dedicated offices, plus another in central Madrid. A dedicated team, speaking 14 different languages (Kristina herself speaks seven) is available to assist our clients with their  <a href="renting-a-property.html" title=""> Marbella property rentals</a>. </p>
<p> We also have a network of associate agencies throughout the world, giving our company a global reach making us the number one choice for people looking for  <a href="property-rentals-search.php" title="Property for Rent"> properties to rent in Marbella</a>. </p>
<p> If you have a property that you would like to rent out, Kristina Szekely will undertake all aspects of the rental process. We can offer a full management service from property preparation (cleaning, linen change, appliance testing etc) to property maintenance (pool cleaning, repairs etc). We can photograph the property and promote it via our dedicated rental marketing channels and undertake any necessary responsibilities while the owner is absent.</p>
<p> For more information on properties to rent in Marbella or about our property rentals service, please use the email address below to contact us for more information and an updated list of properties available to rent.</p>
<p>For more information on Marbella property for rent: Tel: (+34) 952 81 67 62 <a href='mailto:rentals@ksmarbella.com'>E-mail: rentals@ksmarbella.com</a></p>	</div><!--//col-md-9-->
	<div class="col-md-3">
		<? include(PATH."includes/sidebar-services-renting.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}