{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

	<div id="outer" class="clearfix">   
            
		{% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
	<div class="col-md-9">
		<div class="page-header"><h2>Selling a Property in Spain</h2></div>
		<p>Selling a property in Spain is a relatively straightforward process, but as with buying a property, we recommend that sellers engage the services of a professional lawyer to assist and advise them in the process. Sellers need to be aware of several facts before entering into the process. &nbsp;</p>
<h3>The Seller&rsquo;s Tax Liability</h3>
<h4>Capital Gains Tax</h4>
<p>The seller will be responsible for the payment of his Capital Gains Tax. This is the tax based on the increase in value of the property from the original purchase date to the date that it was sold on. As from 1st January 2012 the Capital Gains Tax has increased from <strong>19% to 21%</strong>. Any conveyance costs involved in the buying and selling of the property can be deducted as long as these costs are accompanied by official receipts. Therefore, all purchase taxes, notary fees, legal fees etc can be deducted from the calculations.</p>
<p><strong>To use an approximate example,</strong></p>
<blockquote>
<p>Original purchase price: 100.000&euro;<br />
Taxes &amp; fees incurred: 10.000&euro;<br />
Selling price: 160.000&euro;<br />
160.000 &ndash; (100.000 + 10.000) = 50.000&euro; <br />
50.000&euro; x 21% = 10.500&euro; Capital Gains Tax due.</p>
</blockquote>
  
<p>Residents are exempt from Capital gains tax if they are,</p>
<ul>
  <li>65 or over and have lived in      the property for 3 years or more</li>
  <li>If the property is a main      residence and the net sale proceeds are reinvested in the purchase of      another new home within two years</li>
</ul>
<h4>Plus Valia Tax</h4>
<p> Sellers are normally also responsible for paying the Plusvalia Tax although this can sometimes be negotiated to be paid by the buyer.&nbsp; This tax is set by the local authorities and is based on the increase in the value of the land (not the property &ndash; the selling price has no effect on the plusvalia tax) from the date the owner acquired the property to the time of the present sale.&nbsp; The local authorities will determine the amount and is calculated according to the rateable value of the property and the number of years that it has been in ownership of the vendor.</p>
<h4>Encumbrances</h4>
<p> Sellers must also pay the fees for cancellation for any encumbrances on the property such as mortgages, unless otherwise agreed between buyer and seller.&nbsp; If the buyer is intending on purchasing with a mortgage then they might want to consider simply taking over the seller&rsquo;s original mortgage (being careful to check the terms and conditions), as this will be cheaper than setting up a new mortgage.<br />
  Important factors to know when selling a property in Spain</p>
<h4>Retention</h4>
<p> If the seller is a non-resident and has owned the property for less than 10 years, it is important to be aware that the buyer is obliged to withhold 3% of the purchase price and pay this amount directly to the Spanish Tax authorities.&nbsp; This is a way of ensuring that the capital gains tax (CGT) is paid by the vendor and to prevent them from taking the money and not paying their tax bill.&nbsp; After the CGT is calculated, the seller will either receive a refund or be billed for an additional amount depending on the amount of tax that is due.&nbsp; If the buyer does not withhold this amount they will automatically become responsible for the sellers CGT.</p>
<h4>Declared Selling Price</h4>
<p>In the not too distant past, tax evasion was common in Spain and property transactions were a prime example of how taxes were avoided.&nbsp; Sellers used to declare the sale price at a much lower value than the actual selling price in order to lower the level of capital gains tax that was due.&nbsp; Buyers were complicit in this process as this also lowered the amount of tax due on the purchase.&nbsp; </p>
<p>In the last 10 years this situation has changed dramatically and the Spanish tax authorities have targeted property transactions in particular.&nbsp; If the tax auditors feel that the declared selling price is too low, they can, and have, imposed significant penalties on the seller.&nbsp; Foreign governments in Europe and Scandinavia have been known to share information with the Spanish tax authorities.</p>
<p>Consequently, under-declared values have practically become a thing of the past and we strongly advise our clients not to get involved in this activity.</p>
<p>Property negotiators at Kristina Szekely are experienced and have up-to-date knowledge of the current laws and tax liability.&nbsp; We are happy to advise any owner choosing to list their property with us.&nbsp; If you would like to speak with one of our professionals about listing your property, or have any questions that are not covered here, do not hesitate to contact us.&nbsp; We are happy to call you using our call-back service.&nbsp; Simply fill in your details below.</p>	</div><!--//col-md-9-->
	<div class="col-md-3">
		<? include(PATH."includes/sidebar-services.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->

{% endblock %}