{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

    <div id="outer" class="clearfix">   
            
        {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
  <div class="col-md-9">
		<div class="page-header"><h2>Services</h2></div>
<img class="img-responsive img-thumbnail center" src="images/media/services-real-estates.jpg" class="shadow hovershadow" alt="Real Estates Services" />
<div class="clear10"></div>
		<p><strong>The Kristina Szekely Sotheby's International  Realty name is synonymous with prestige property in the south of Spain  where we have been established for more than 30 years. We offer our  clients a high level of service in all property purchase, sale and  rental requirements. We are renowned for integrity, and long-term  commitment to our customer's satisfaction.</strong></p>
                    <p>Through an exclusive system of  advertising, marketing and listing capabilities we are now able to offer  our clients the same expertise and experience on a national and  international scale. </p>
                    <p>We have eight KS offices  throughout Spain , and we have affiliate offices throughout Europe, the  United States , South America, North Africa and the Middle East . Using  these international connections, we are able to provide far-reaching  exposure both to our homeowners and homebuyers on a world-wide scale. </p>
                    <p>The KS UNIQUE HOMES magazine,  now in its tenth year of publication, show-cases our exclusive  properties. On each publication 30,000 copies are distributed through  international property fairs, affiliate agencies, and our client  subscription lists. Individual custom-designed brochures of our  exclusive prestige homes and new developments are also distributed in  this way.</p>
                    
                    <p>OUR RANGE OF SERVICES :</p>
					<ul>
    					<li>Sales and marketing of developments and prestige homes worldwide.</li>
    					<li>Marketing and management of residential properties.</li>
    					<li>Rental management of properties in Marbella and Sotogrande.</li>
    					<li>Valuations, feasibility studies and research.</li>
    					<li>Commercial agency in Marbella and Madrid.</li>
                    </ul>	</div><!--//col-md-9-->
	<div class="col-md-3">
		<? include(PATH."includes/sidebar-services.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->
{%   endblock  %}