{% extends "layouts/base_frontend.phtml" %}

{% block body %}

{% include "blocks/google_tracking.phtml" %}

  <div id="outer" class="clearfix">   
            
    {% include "blocks/main-menu.phtml" %}
<div class="container">
        	<div class="row">
	<div class="col-md-9">
		<h2>Terms</h2>
		<strong>www.ksmarbella.com · www.kssir.com</strong>
		<p>En este dominio se establecerá la siguiente "Política de Privacidad".<br />
		KRISTINA SZEKELY SOTHEBY'S INTERNATIONAL REALTY, (KS  INVESTMENTS SA, KS EUROSERVICES INTERNATIONAL SA, KS PROPERTIES LEASE  GROUP SA ) es administradora del sitio www.ksmarbella.com y tiene su domicilio en  Muelle Ribera, Local 61, Casa I, CP:29660 Puerto Banus, Marbella, Málaga. Tf : 952 81 01 02 · Fax: 952 81 77 88. </p>
		<p>De acuerdo con la legislación vigente, KRISTINA  SZEKELY SOTHEBY'S INTERNATIONAL REALTY tiene inscritos sus ficheros en  la Agencia Española de Protección de Datos, por lo que ha adoptado todas  las medidas técnicas y organizativas que han sido necesarias para la  total adaptación de la firma en materia de Protección de Datos. </p>
		<p>KRISTINA SZEKELY SOTHEBY'S INTERNATIONAL REALTY desea  garantizar su privacidad cuando utilice nuestros servicios, por eso la  declaración siguiente le informará de nuestra política de protección de  datos personales y así podrá decidir voluntariamente en qué grado desea  proporcionarlos. </p>
		<h3>Correos electrónicos</h3>
		<p>Los datos de carácter personal que pudieran estar  contenidos en los correos electrónicos recibidos a través de las  direcciones de correo o formularios de contacto que ponemos a su  disposición, serán utilizados para ponernos en contacto con usted y  contestarle a las cuestiones que pudiera plantearnos a través de esta  vía. Asimismo, si muestra interés por nuestros servicios de  intermediación inmobiliaria, le incluiremos en nuestra base de datos  para proporcionarle la información solicitada. </p>
		<h3>Cookies </h3>
		<p>KRISTINA SZEKELY SOTHEBY'S INTERNATIONAL REALTY no hace uso de cookies en este website. </p>
		<p>KRISTINA SZEKELY SOTHEBY'S INTERNATIONAL REALTY se reserva el derecho a modificar la presente política. </p>
		<p>En todo caso, cualquier persona podrá ejercer sus  derechos de acceso, rectificación, cancelación u oposición al  tratamiento de sus datos a través de una carta a la dirección arriba  indicada y con la debida identificación </p>
		<p>&nbsp;</p>
	</div><!--//col-md-9-->
					
	<div class="col-md-3">
		<? include(PATH."includes/bnr/bnr-1.php"); ?>
		<? include(PATH."includes/bnr/bnr-2.php"); ?>
	</div><!--//col-md-3-->
</div><!--//row--><div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->
{% endblock %}