{% extends "layouts/base_frontend.phtml" %}

{% block body %}
<body onLoad="pedirZonas()">	
    
	<div id="outer" class="clearfix">   
            
		{% include "blocks/main-menu.phtml" %}
		<div class="container">
        	<div class="row">
    <div class="col-md-12">
		<div class="page-header"><h1>Unique Home Magazine</h1></div>
	</div><!--//col-md-12-->
	<div class="col-md-12">
		<div data-configid="0/9064222" style="width: 100%; height: 600px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
		<div class="clearfix"></div>
	</div><!--//col-md-12-->
</div><!--//row-->
				
<div class="clear"></div><!--//clear-->
</div><!-- //row -->
</div><!-- //container -->
{% endblock %}